@CHARSET "ISO-8859-1";

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

.painelFORM {
	margin-top: 10px;
	margin-left: 10px;
}

.painelFORM2 {
	margin-top: 10px;
	margin-left: 20px;
}

.fundo {
	background: #eeeeee;
}

.label2 {
	font-size: 14px;
	padding: 6px 12px;
	color: #fff;
	background-color: #fe3000;
	border-color: #eea236;
}
ul {
	font-family: 'Roboto', sans-serif;
}
h2{
	font-family: 'Bree Serif', sans-serif;
}