<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>


</h:head>
<h:body>
    <h:form>
        <p:panelGrid style="margin-top:20px">
            <f:facet name="header">
                <p:row>
                    <p:column colspan="2">Cadastro de Evento</p:column>
                </p:row>
                <p:row>
                    <p:column colspan="1">Titulo</p:column>
                    <p:column colspan="1"><p:inputText id="tituloEvento" placeholder="ex. Evento de Forense"
                                                       value="#{eventoBean.evento.titulo}"/></p:column>
                </p:row>
                <p:row>
                    <p:column colspan="1">Data Evento</p:column>
                    <p:column colspan="1">
                        <p:inputMask id="dataEvento" placeholder="ex. 22/01/2016" mask="99-99-9999"
                                     value="#{eventoBean.evento.dataEvento}">
                            <f:convertDateTime pattern="dd-MM-yyyy"/>
                        </p:inputMask>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="1">Data Fim Inscricao</p:column>
                    <p:column colspan="1">
                        <p:inputMask id="dataFimInscricao" placeholder="ex. 22/01/2016" mask="99-99-9999"
                                     value="#{eventoBean.evento.dataFimInscricao}">
                            <f:convertDateTime pattern="dd-MM-yyyy"/>
                        </p:inputMask>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="1">Valor</p:column>
                    <p:column colspan="1">
                        <p:inputNumber id="valorEvento" placeholder="R$223.45" value="#{eventoBean.valor}" symbol=" R$"
                                       symbolPosition="s" decimalSeparator="," thousandSeparator="."/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="1">Descricao</p:column>
                    <p:column colspan="1">
                        <p:inputTextarea value="#{eventoBean.evento.descricao}" rows="5" cols="30" maxlength="10"
                                         counterTemplate="{0} characters remaining." autoResize="false"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:dataTable var="participante" value="#{eventoBean.evento.participantes}">
                        <p:column headerText="Nome">
                            <h:outputText value="#{participante.nome}"/>
                        </p:column>

                        <p:column headerText="email">
                            <h:outputText value="#{participante.email}">

                            </h:outputText>
                        </p:column>

                        <p:column headerText="Telefone">
                            <h:outputText value="#{participante.telefone}">

                            </h:outputText>
                        </p:column>
                        <p:column style="text-align:center">
                            <f:facet name="header">Alterar</f:facet>
                            <h:commandButton action="#{eventoBean.alterarEvento(evento)}"
                                             value="Editar" styleClass="btn btn-warning"/>
                        </p:column>
                        <p:column style="text-align:center">
                            <f:facet name="header">Deletar</f:facet>
                            <h:commandButton action="#{eventoBean.removerParticipante(participante)}"
                                             value="Deletar" styleClass="ui-btn-active"/>
                        </p:column>
                    </p:dataTable>
                </p:row>
            </f:facet>
        </p:panelGrid>

        <p:commandButton value="Cadastrar" id="btnCadastrar" action="#{eventoBean.salvarEvento}" ajax="false"/>
    </h:form>
</h:body>
</html>