<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">
    <div class="jumbotron">
        <div class="container">
            <ui:define name="content">
                <h1 class="text-center">Cadastro de Noticia</h1>

                <h:form>
                    <h:panelGrid columns="2">

                        <h:outputLabel for="tituloNoticia" value="Titulo "/>
                        <p:inputText id="tituloNoticia"
                                     placeholder="ex. Crime Sibernético Desvendado"
                                     value="#{noticiaBean.noticia.titulo}" label="Titulo"/>
                        <br/>
                        <h:outputLabel for="dataEvento" value="Data Evento "/>
                        <p:inputMask id="dataEvento" placeholder="ex. 22/01/2016"
                                     mask="99-99-9999"
                                     value="#{noticiaBean.noticia.dataPostagem}"
                                     styleClass="form-control" label="Data Evento">
                            <f:convertDateTime pattern="dd-MM-yyyy"/>
                        </p:inputMask>
                        <br/>
                        <h:outputLabel for="editor" value="Noticia "/>
                        <p:editor id="editor" widgetVar="editorWidget" maxlength="10000"
                                  value="#{noticiaBean.noticia.noticia}"
                                  width="600"/>

                        <h:outputLabel for="imagem" value="Imagem"/>
                        <p:fileUpload id="imagem"
                                      fileUploadListener="#{noticiaBean.handleFileUpload}"
                                      mode="advanced" dragDropSupport="false"
                                      multiple="true" update="messages" sizeLimit="2500000"
                                      fileLimit="3" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" label="Imagem"/>
                        <p:growl id="messages" showDetail="true"/>

                    </h:panelGrid>

                    <p:commandButton value="Cadastrar" id="btnCadastrar"
                                     actionListener="#{noticiaBean.salvarNoticia}"
                                     ajax="false" styleClass="btn-block btn-success" style="text-align: center"/>

                </h:form>

            </ui:define>
        </div>
    </div>
</ui:composition>