<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">

    <ui:define name="content">
        <p:messages errorClass="alert-danger" infoClass="alert-sucess"/>
        <h:form>
            <p:panelGrid style="margin-top:20px">
                <f:facet name="header">
                    <p:row>
                        <p:column colspan="2">Cadastro de Usuario</p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">Nome</p:column>
                        <p:column colspan="1"><p:inputText id="nomeUsuario" placeholder="ex. Francisco"
                                                           value="#{usuarioBean.usuario.nome}"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">Sobrenome</p:column>
                        <p:column colspan="1"><p:inputText id="sobrenomeUsuario" placeholder="ex. Sousa Neto"
                                                           value="#{usuarioBean.usuario.snome}"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">Email</p:column>
                        <p:column colspan="1"><p:inputText id="emailUsuario" placeholder="eu@gmail.com"
                                                           value="#{usuarioBean.usuario.email}"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">Telefone</p:column>
                        <p:column colspan="1">
                            <p:inputMask id="telefonelUsuario" placeholder="Ex. (85)9899-99999"
                                         value="#{usuarioBean.usuario.telefone}"
                                         mask="(99)9999-99999"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column>Cargo</p:column>
                        <p:column><p:selectOneMenu id="cargo" value="#{usuarioBean.usuario.cargo}" style="width:125px">
                            <f:selectItem itemLabel="Selecione" itemValue=""/>
                            <f:selectItem itemLabel="Presidente" itemValue="Presidente"/>
                            <f:selectItem itemLabel="Vice-Presidente" itemValue="Vice-Presidente"/>
                            <f:selectItem itemLabel="Primeiro Tesoureiro" itemValue="Primeiro Tesoureiro"/>
                            <f:selectItem itemLabel="Primeiro Secretário" itemValue="Primeiro Secretário"/>
                            <f:selectItem itemLabel="Segundo Tesoureiro" itemValue="Primeiro Tesoureiro"/>
                            <f:selectItem itemLabel="Segundo Secretário" itemValue="Primeiro Secretário"/>
                        </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">Tipo De Usuario</p:column>
                        <p:column colspan="1"><p:selectOneMenu id="tipoUsuario"
                                                               value="#{usuarioBean.usuario.tipoUsuario}"
                                                               style="width:125px">
                            <f:selectItems value="#{usuarioBean.tipoUsuarios}" var="a"
                                           itemValue="#{a}" itemLabel="#{a.descricao}"/>
                        </p:selectOneMenu></p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">Tratamento</p:column>
                        <p:column colspan="1"><p:selectOneMenu id="tratamento" value="#{usuarioBean.usuario.tratamento}"
                                                               style="width:125px">
                            <f:selectItem itemLabel="Selecione" itemValue=""/>
                            <f:selectItem itemLabel="Sr" itemValue="Sr"/>
                            <f:selectItem itemLabel="Prof." itemValue="Prof."/>
                            <f:selectItem itemLabel="Dr." itemValue="Dr."/>
                            <f:selectItem itemLabel="Tenente" itemValue="Tenente"/>
                        </p:selectOneMenu></p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">Link Lattes</p:column>
                        <p:column colspan="1"><p:inputText id="linkLattes"
                                                           placeholder="Ex. http://cnpq.lattes.gov.br/....."
                                                           value="#{usuarioBean.usuario.linkLattes}"/></p:column>
                    </p:row>

                    <p:row>
                        <p:column colspan="1">Senha</p:column>
                        <p:column colspan="1"> <p:password id="senha" value="#{usuarioBean.usuario.senha}"
                                                           feedback="true"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>Mini Curriculo</p:column>
                        <p:column colspan="1"><p:inputTextarea rows="5" cols="30" counter="display" maxlength="500"
                                                               counterTemplate="Faltando {0} caracteres"
                                                               autoResize="false"
                                                               value="#{usuarioBean.usuario.miniCurriculo}"/></p:column>
                    </p:row>
                    <p:row>
                        <p:column></p:column>
                        <p:column><h:outputText id="display"/></p:column>
                    </p:row>

                </f:facet>

            </p:panelGrid>
            <h:commandButton value="Cadastrar" id="btnCadastrar" action="#{usuarioBean.cadastroUsuario}"/>
        </h:form>
    </ui:define>
</ui:composition>