<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">

    <ui:define name="content">
        <div class="container">
            <h:form>
                <p:tabView>

                    <p:tab title="Cadastro">

                        <div class="row">
                            <div class="col-sm-12">
                                <h:outputLabel value="Titulo: "/>
                                <p:inputText value="#{eventoBean.evento.titulo}"
                                             styleClass="form-control"/>
                            </div>
                            <br/>
                            <div class="col-sm-12">
                                <h:outputLabel value="Data do evento: "/>
                                <p:inputMask id="dataEvento" placeholder="ex. 22/01/2016" mask="99-99-9999"
                                             value="#{eventoBean.evento.dataEvento}"
                                             styleClass="form-control">
                                    <f:convertDateTime pattern="dd-MM-yyyy"/>
                                </p:inputMask>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12">
                                <h:outputLabel value="Incrição até: "/>
                                <p:inputMask id="dataFimInscricao" placeholder="ex. 22/01/2016" mask="99-99-9999"
                                             value="#{eventoBean.evento.dataFimInscricao}"
                                             styleClass="form-control">
                                    <f:convertDateTime pattern="dd-MM-yyyy"/>
                                </p:inputMask>
                            </div>
                            <br/>
                            <div class="col-sm-12">
                                <h:outputLabel value="Valor do evento: "/>
                                <p:inputNumber id="valorEvento" placeholder="R$223.45" value="#{eventoBean.valor}"
                                               symbol=" R$" symbolPosition="s" decimalSeparator=","
                                               thousandSeparator="."
                                               styleClass="form-control"/>
                            </div>
                            <br/>
                            <div class="col-sm-12">
                                <h:outputLabel value="Descrição: "/>
                                <p:inputTextarea value="#{eventoBean.evento.descricao}" rows="5" cols="30"
                                                 maxlength="5000"
                                                 counterTemplate="{0} characters remaining." autoResize="false"
                                                 styleClass="form-control"/>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-12 botao">
                                    <p:commandButton id="botao"
                                                     action="#{eventoBean.salvarEvento}"
                                                     value="Salvar"
                                                     styleClass="btn btn-success"/>

                                </div>
                            </div>
                        </div>
                    </p:tab>
                </p:tabView>
            </h:form>
        </div>
    </ui:define>
</ui:composition>