<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template_login.xhtml">

    <ui:define name="metatag">
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    </ui:define>
    <ui:define name="content">
        <div id="wrapper">

            <h:form id="login-form" styleClass="login-form">

                <div class="header">
                    <img src="/imagens/logo.jpg"/>
                    <h1>Apecof</h1>
                    <span>Bem Vindo</span>
                </div>

                <div class="content">
                    <p:inputText id="username" styleClass="input username"
                                 value="#{loginBean.email}"
                                 placeholder="Email: exemplo@example.com"/>
                    <div class="user-icon"/>
                    <p:password id="password" styleClass="input password"
                                value="#{loginBean.senha}"
                                placeholder="Senha"/>
                    <div class="pass-icon"/>
                </div>

                <div class="footer">
                    <h:commandButton id="login" value="Entrar"
                                     styleClass="button" action="#{loginBean.login()}"/>

                </div>
            </h:form>
        </div>
        <div class="gradient"></div>
    </ui:define>
</ui:composition>