<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">

    <ui:define name="content">
        <h:form id="form">
            <!--<p:growl id="msgs" showDetail="true"/>-->
            <h3 style="margin-top:0">Diretoria</h3>
            <p:accordionPanel value="#{usuarioBean.diretores}" var="diretor">
                <p:tab title="#{diretor.cargo}">
                    <h:panelGrid columns="2" cellpadding="5">
                        <f:facet name="header">
                            <p:graphicImage name="WEB-INF/imagens/diretor/#{diretor.nome}.jpg"/>
                        </f:facet>
                        <h:outputText value="Nome:" style="font-weight: bold"/>
                        <h:outputText value="#{diretor.tratamento} #{diretor.nome} #{diretor.snome}"/>

                        <h:outputText value="Cargo:" style="font-weight: bold"/>
                        <h:outputText value="#{diretor.cargo}"/>

                        <h:outputText value="Link Lattes" style="font-weight: bold"/>
                        <h:outputText value="#{diretor.linkLattes}"/>

                        <h:outputText value="Curriculo:" style="font-weight: bold"/>
                        <h:outputText value="#{diretor.miniCurriculo}"/>

                    </h:panelGrid>
                </p:tab>
            </p:accordionPanel>
        </h:form>
    </ui:define>
</ui:composition>