<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">


    <ui:define name="content">
        <div class="container">
            <h:form id="form">
                <p:dataTable var="evento" value="#{eventoBean.allEventos}" styleClass="table">
                    <p:column headerText="Codigo">
                        <h:outputText value="#{evento.id}"/>
                    </p:column>

                    <p:column headerText="Titulo">
                        <h:outputText value="#{evento.titulo}"/>
                    </p:column>

                    <p:column headerText="Brand">
                        <h:outputText value="#{evento.dataEvento}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Insrições Até">
                        <h:outputText value="#{evento.dataFimInscricao}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Valor">
                        <h:outputText value="#{evento.valor}"/>
                    </p:column>
                    <p:column headerText="Participantes">
                        <h:outputText value="#{evento.participantes.size()}"/>
                    </p:column>
                    <p:column style="text-align:center">
                        <f:facet name="header">Alterar</f:facet>
                        <h:commandButton action="#{eventoBean.alterarEvento(evento)}"
                                         value="Editar" styleClass="btn btn-warning"/>
                    </p:column>
                    <p:column style="text-align:center">
                        <f:facet name="header">Deletar</f:facet>
                        <h:commandButton action="#{eventoBean.removerEvento(evento)}"
                                         value="Deletar" styleClass="btn btn-danger"/>
                    </p:column>

                </p:dataTable>
            </h:form>
        </div>
    </ui:define>
</ui:composition>