<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/template.xhtml">


    <ui:define name="content">
        <div class="container">
            <h:form id="form">
                <p:dataTable var="usuario" value="#{usuarioBean.allUsuarios}" styleClass="table">
                    <p:column headerText="Nome">
                        <h:outputText value="#{usuario.nome}"/>
                    </p:column>

                    <p:column headerText="Email">
                        <h:outputText value="#{usuario.email}"/>
                    </p:column>

                    <p:column headerText="Cargo">
                        <h:outputText value="#{usuario.cargo}"/>
                    </p:column>
                    <p:column headerText="Tipo Usuario">
                        <h:outputText value="#{usuario.tipoUsuario.descricao}"/>
                    </p:column>
                    <p:column style="text-align:center">
                        <f:facet name="header">Alterar</f:facet>
                        <h:commandButton action="#{usuarioBean.editarUsuario(usuario)}"
                                         value="Editar" styleClass="btn btn-warning"/>
                    </p:column>
                    <p:column style="text-align:center">
                        <f:facet name="header">Deletar</f:facet>
                        <h:commandButton action="#{usuarioBean.deletarUsuario(usuario)}"
                                         value="Deletar" styleClass="btn btn-danger"/>
                    </p:column>

                </p:dataTable>
            </h:form>
        </div>
    </ui:define>
</ui:composition>