<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <div class="container">
        <div class="nav">
            <h:form id="menuForm">
                <div class="ui-grid ui-grid-responsive">
                    <div class="ui-grid-row text-center row-fluid">
                        <div class="ui-grid-col-4 ui-g-12 ui-lg-4">
                            <p:graphicImage value="../../imagens/logo.jpg"
                                            alt="Imagem" height="65px" width="200px"/>
                        </div>
                        <div class="navbar navbar-default">
                            <p:menubar styleClass="nav navbar-nav">
                                <p:submenu label="Eventos">
                                    <p:menuitem value="Cadastrar Evento"
                                                action="NovoEvento"/>
                                    <p:menuitem value="Listar Evento"
                                                action="TodosEventos"/>
                                    <p:menuitem value="Participantes por Evento"
                                                action="participantesPorEvento"/>
                                </p:submenu>
                                <p:submenu label="Usuario">
                                    <p:menuitem value="Cadastrar Usuario"
                                                action="NovoUsuario"/>
                                    <p:menuitem value="Listar Usuario"
                                                action="TodosUsuarios"/>
                                    <p:menuitem value="Listar Diretores"
                                                action="TodosDiretores"/>
                                </p:submenu>
                                <p:submenu label="Noticias">
                                    <p:menuitem value="Nova Noticia"
                                                action="NovaNoticia"/>
                                    <p:menuitem value="Listar Noticias"
                                                action="TodasNoticias"/>

                                </p:submenu>
                                <p:menuitem value="Sair" icon="ui-icon-close"
                                            action="#{usuarioBean.logout()}"
                                            style="padding-right: 10px; border-radius: 3px;"/>
                            </p:menubar>
                        </div>
                        <div class="ui-grid-col-4 ui-g-12 ui-lg-4">
                            <p:graphicImage value="../../imagens/logo.jpg"
                                            alt="Imagem" height="65px" width="200px"/>
                        </div>
                    </div>
                </div>
            </h:form>
        </div>
    </div>


</html>
