<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Apecof</title>
	<link rel="shortcut icon"
		href="http://www.fanor.edu.br/_media/favicon.ico" />
		<h:outputStylesheet library="css" name="login.css"/>
		<h:outputStylesheet library="css" name="estilo.css"/>
		<h:outputStylesheet library="css" name="menu.css"/>
		<h:outputStylesheet library="css" name="bootstrap.css" />
	<ui:insert name="metatag">
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</ui:insert>
</h:head>
<h:body>
	<h:panelGroup id="page" layout="block">
		<div id="menu">
			<ui:insert name="menu">
				<ui:include src="/templates/menu.xhtml" />
			</ui:insert>
		</div>
		<div id="header">
			<ui:insert name="header">

			</ui:insert>
		</div>
		<div id="content" class="container">
			<ui:insert name="content" />
		</div>
		<div id="footer">
			<ui:insert name="footer">
				<ui:include src="/templates/footer.xhtml" />
			</ui:insert>
		</div>
	</h:panelGroup>
</h:body>
</html>
