<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" xml:lang="pt-br"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Apecof</title>
	<link rel="shortcut icon"
		href="http://www.fanor.edu.br/_media/favicon.ico" />
	<ui:insert name="metatag">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</ui:insert>
	<h:outputStylesheet name="css/login.css" />
</h:head>
<h:body>
	<p:messages id="messages" showDetail="true" closable="true" />
	<div id="conteudo" class="content-login">
		<h:panelGroup id="page" layout="block">
			<h:panelGroup id="container" layout="block">
				<h:panelGroup id="content" layout="block">
					<ui:insert name="content" />
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>
	</div>
	<div id="footer" >
		<ui:insert name="footer">
			<ui:include src="/templates/footer.xhtml" />
		</ui:insert>
	</div>
</h:body>
</html>

