@CHARSET "UTF-8";
 	
 
 .panel-body{
  border: 1px solid black;

 }

body{
  
   background-color: #262626;
      }

@media screen and (min-width: 800px) {
div.principal{
  width: 72%;
  margin-left: 13%;
  padding: 0.3%;
  border: solid 1px DimGray; 
  box-shadow: 5px 0px 9px DimGray;
  background-color: white;
}      

.form-control{
  width: 20%;
  position: relative;
  
}
.antigas{
  border: 1px solid white;
  text-align: center;   
  background: #cccccc;
  padding:0.5%;
  float: right;
  
}
.antigas2{
  border: 1px solid white;
  text-align: center;   
  background: #cccccc;
  padding:0.5%;
  float: right;
  
}

span{
  color:#003380;
  
} 

.cf{
	color: black;
}

.noticia{
  background: #001a33;
  text-align: left;
  color: white;
}
.ro{
	border:1px solid white;
	background-color:#cccccc;
	margin-left: -5%;
}

.noticiario{
	text-align: left; 
	text-align: justify;
	color: #333333;
	font-size:14px;
}
.noticiario2{
	text-align: left; 
	text-align: justify;
	color: #333333;
	font-size:12px;
}
  .s{
	color: #262626;
	
}
.rec{
  margin-top: 2%;
  background-color: #001a33;
}

.pri{
  border: 1px solid black;
}

  li{
    list-style-type: none;
  }

 .form-control{
  float: right;
 }

 .ajuste{
   padding: 5px;
 }

.im{
	margin: 0 auto;

}

.ju{
	text-align: right;
	
}
.ju1{
	text-align: right;
	margin-bottom:-1%;
	
}


h2{
	text-align: center;
}
  p{
  	text-align: center;
  	text-align: justify;
}

.dir{
	color: black;
}

 li{
    list-style-type: none;
  }
  
  .col-sm-3{
  	margin-left: 5%;
  }

  a{
    color: white;
  }

  p{
    text-align: center;
}

.les{
	float: right;
}

.rod{
 
  background-color: #001a33;
  color: white;
    text-align: center;
}

.rev{
  background-color: white;
}

.cor{
  background-color: #001a33;
}
.barra{
  background-color: #001a33;
     
}