@CHARSET "UTF-8";
 	
 
 .panel-body{
  border: 1px solid black;

 }

body{
  
   background-color: #262626;
      }

@media screen and (min-width: 800px) {
div.principal{ 
  width: 73%;
  margin-left: 13%;
  padding: 0.3%;
  border: solid 1px DimGray; 
  box-shadow: 5px 0px 9px DimGray;
  background-color: white;
}      

#botao{
	margin: 0 auto;
}
  
.rec{
  margin-top: 2%;
  background-color: #001a33;
}

.pri{
  border: 1px solid black;
}

  li{
    list-style-type: none;
  }
  .espaco{
 	margin-bottom: 2%;
 }
 a{
    color: white;
  }

  p{
    text-align: center;
}

.dir{
	color: black;
}

.im{
	margin: 0 auto;

}

h2{
	text-align: center;
}
  p{
  	text-align: center;
  	text-align: justify;
}

.les{
	float: right;
}
  

 
 .ajuste{
   padding: 5px;
 }


 li{
    list-style-type: none;
  }

  a{
    color: white;
  }

  p{
    text-align: center;
}

.row{
	margin: 0 auto;
}

.rod{
 
  background-color: #001a33;
  color: white;
    text-align: center;
}

#mover{
	background-color: black;
}

row{
	float: left;
}

.rev{
  background-color: white;
}

.cor{
  background-color: #001a33;
}
.barra{
  background-color: #001a33;
     
