@CHARSET "UTF-8";

.panel-body{
  border: 1px solid black;

 }

body{
  
   background-color: #262626;
      }

@media screen and (min-width: 800px) {
div.principal{
  width: 72%;
  margin-left: 13%;
  padding: 0.3%;
  border: solid 1px DimGray; 
  box-shadow: 5px 0px 9px DimGray;
  background-color: white;
}      

.form-control{
  width: 20%;
  position: relative;
}
  
.rec{
  margin-top: 2%;
  background-color: #001a33;
}
.pri{
  border: 1px solid black;
}
.espaco{
 	margin-bottom: 2%;
 }
 a{
    color: white;
  }

  p{
    text-align: center;
}

.dir{
	color: black;
}

.im{
	margin: 0 auto;

}

h2{
	text-align: center;
}
  p{
  	text-align: center;
  	text-align: justify;
}

.les{
	float: right;
}

  li{
    list-style-type: none;
  }
  

 .form-control{
  float: right;
 }

 .ajuste{
   padding: 5px;
 }


 li{
    list-style-type: none;
  }

  a{
    color: white;
  }

  p{
    text-align: center;
}

.rod{
 
  background-color: #001a33;
  color: white;
    text-align: center;
}

.rev{
  background-color: white;
}

.cor{
  background-color: #001a33;
}
.barra{
  background-color: #001a33;
     
}

.imagem{
	max-width: 200%;
	margin: 0 auto;
}

h1{
	text-align: center;
}


.rec2{
  margin-top: 2%;
  background-color: #262626;
}
.rod2{
  
  background-color: #262626;
  color: white;
    text-align: center;
    
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
    color: black;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
  
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}

.aj{
	margin: 0 auto;
}

.cri{
	text-align: justify;
}

.esquerda{
	float: right;
}	