@CHARSET "UTF-8";

body{

  background-color: #262626;
 
}
.cos{
  border: 1px solid black;

 }
@media screen and (min-width: 800px) {
div.principal{
  width: 72%;
  margin-left: 13%;
  padding: 0.3%;
  border: solid 1px DimGray; 
  box-shadow: 5px 0px 9px DimGray;
  background-color: white;
}
}

h2{
	text-align: center;
}

.rev{
	margin-top:2%;
	border: 1px solid black;
}

.corpo{	
 	 background-color: white;

}
.ajuste{
   padding: 5px;
 }

.barra{
	background-color: #001a33;
		 
}
.menu{
	background: white;	
	
}
.espaco{
 	margin-bottom: 2%;
 }
 a{
    color: white;
  }

  p{
    text-align: center;
}

.dir{
	color: black;
}

.im{
	margin: 0 auto;

}

h2{
	text-align: center;
}
  p{
  	text-align: center;
  	text-align: justify;
}

.les{
	float: right;
}


.formulario{
background-color: #001a33;
}

.rev{
  background-color: white;
}
.cor{
  background-color: #001a33;
}
.barra{
  background-color: #001a33;
     
}

  
.rec{
  margin-top: 2%;
  background-color: #001a33;
}

.texto{
	text-align: center;
}

.ex{
	margin-left: 100px;
	margin-right: 100px;
	background-color: #001a33;
	
}
.ex h4{
	
	
	color: white;
	text-align: center;	
	font-size: 30px
}
.rod{
	
	background-color: #001a33;
	color: white;
}


  a{
  	color: white;
  }

  p{
  	text-align: center;
}