@CHARSET "UTF-8";

body{

  background-color: #262626;
 
}
.principal{

  padding: 0.3%;
  border: solid 1px DimGray; 
  box-shadow: 5px 0px 9px DimGray;
  background-color: white;
}

.corpo{	
 	 background-color: white;

}


.ju1{
	text-align: right;
	margin-bottom:-1%;
	
}
.cri{
	text-align: justify;
}

.data{
  border: 1px solid white;
  text-align: center;
 
  background: #262626;
  float: left;
  padding: 0.25%;

}

.ju{
	text-align: right;
}
.antigas{
  border: 1px solid white;
  text-align: center;  
  background: #262626;
  padding:0.5%;
  float: right;
}

.antigas2{
  border: 1px solid white;
  text-align: center;   
  background: #cccccc;
  padding:0.5%;
  float: right;
  
}
ul{
	text-align: center;  
}

tr{
	width: 10%
}


span{
  color:#003380;
} 
  
.lattes{
	text-align: center;
}

.noticiario2{
	text-align: left; 
	text-align: justify;
	color: #333333;
	font-size:12px;
}
.texto{
  text-align: justify;
}
h1{
	text-align: center;
}
.cf{
	color: black;
}

.lado{
	margin: 0 auto;
}
.noticia{
  background: #001a33;
  text-align: left;
  color: white;
}


h2{
	text-align: center;
}
.conteudo{
  background: black;
  text-align: justify;
  color: white;
  margin-bottom: 2%;
}
.conteudo h2{
  text-align: center;
}

.text{
	text-align: left;
	Text-align :justify;
}
.rec2{
  margin-top: 2%;
  background-color: #262626;
}
.rod2{
  
  background-color: #262626;
  color: white;
    text-align: center;
    
}
.s{
	color: #262626;
}

.cont{
	
	border-radius: 10px;
	background-color:#666;
	  
}

.tex{
  	margin:0 auto;
  }
  
  .exe{
  	margin: 0 auto;
  }

.noticiario{
	text-align: left; 
	text-align: justify;
	color: #333333;
}

#exe{
	margin:0 auto;
}

.imagem{
	max-width: 200%;
	margin: 0 auto;
}
.ro{
	border:1px solid white;
	background-color:#cccccc;
}

.im{
	margin: 0 auto;
}
  
.rec{
  margin-top: 2%;
  background-color: #001a33;
}
.ajuste{
   padding: 5px;
 }

.barra{
	background-color: #001a33;
		 
}
.menu{
	background: white;	
	
}

.formulario{
background-color: #001a33;
}

.rev{
  background-color: white;
}
.cor{
  background-color: #001a33;
}
.barra{
  background-color: #001a33;
     
}

.nav2{
	margin: 0 auto;
}

.aj{
	margin: 0 auto;
}

.texto{
	text-align: center;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
    color: black;
}

 .bor{
 	border: solid 1px DimGray;
 }
 
 .thumbnail{
	border: solid 1px black;
}
.ex{
	margin-left: 100px;
	margin-right: 100px;
	background-color: #001a33;
	
}
.ex h4{
	padding-top: 50px;
	padding-bottom: 15px;
	color: white;
	text-align: center;	
	font-size: 30px
}
.rod{
	margin-top: 2%;
	background-color: #001a33;
	color: white;
}
.dir{
	color: black;
}

 li{
    list-style-type: none;
  }

  a{
  	color: white;
  }

  p{
  	text-align: center;
}