@CHARSET "UTF-8";

body{

  background-color: #262626;
 
}
.cos{
  border: 1px solid black;

 }

@media screen and (min-width: 800px) {
div.principal{
  width: 72%;
  margin-left: 13%;
  padding: 0.3%;
  border: solid 1px DimGray; 
  box-shadow: 5px 0px 9px DimGray;
  background-color: white;
}      

.form-control{
  width: 20%;
  position: relative;
}
  p{
	text-align: center;
}
  
.rec{
  margin-top: 2%;
  background-color: #001a33;
}
.pri{
  border: 1px solid black;
}
.espaco{
 	margin-bottom: 2%;
 }
 a{
    color: white;
  }

  p{
    text-align: center;
}

.dir{
	color: black;
}

.im{
	margin: 0 auto;

}

h2{
	text-align: center;
}
  p{
  	text-align: center;
  	text-align: justify;
}

.les{
	float: right;
}


  li{
    list-style-type: none;
  }

 .form-control{
  float: right;
 }

 .ajuste{
   padding: 5px;
 }


 li{
    list-style-type: none;
  }

  a{
    color: white;
  }


.noticia{
  background: #001a33;
  text-align: left;
  color: white;
}


span{
  color: #066;
}

.antigas{
  border: 1px solid white;
  text-align: center;  
  background: #262626;
  padding:0.5%;
  float: right;
}
.data{
  border: 1px solid white;
  text-align: center;
 
  background: #262626;
  float: left;
  padding: 0.25%;

}
.ajuste{
	margin: 0 auto;
}

h4{
	text-align: left;
}



.text{
	text-align: left;
	Text-align :justify;
}

.cont{
	
	border-radius: 10px;
	background-color:#666;
	  
}


.centro{
	text-align: center;
}

.rod{
 
  background-color: #001a33;
  color: white;
    text-align: center;
}

p{
	text-align: center;
}
.rev{
  background-color: white;
}

.cor{
  background-color: #001a33;
}
.barra{
  background-color: #001a33;
     
}
}