@CHARSET "UTF-8";
 	
 
 .panel-body{
  border: 1px solid black;

 }
 
body{
  
   background-color: #262626;
      }

@media screen and (min-width: 800px) {
div.principal{
  width: 72%;
  margin-left: 13%;
  padding: 0.3%;
  border: solid 1px DimGray; 
  box-shadow: 5px 0px 9px DimGray;
  background-color: white;
}      

.form-control{
  width: 20%;
  position: relative;
}

.lattes{
	text-align: center;
}
  
.rec{
  margin-top: 2%;
  background-color: #001a33;
}
.espaco{
 	margin-bottom: 2%;
 }
 a{
    color: white;
  }

  p{
    text-align: center;
}

.dir{
	color: black;
}

.im{
	margin: 0 auto;

}

h2{
	text-align: center;
}
  p{
  	text-align: center;
  	text-align: justify;
}

.les{
	float: right;
}


.pri{
  border: 1px solid black;
}

p{
	text-align: center;
}

  li{
    list-style-type: none;
  }

 .form-control{
  float: right;
 }

 .ajuste{
   padding: 5px;
 }
 
img{
	margin: 0 auto;
}
 
 h1{
 	text-align: center;
 }
 


 li{
    list-style-type: none;
  }

  a{
    color: white;
  }

  p{
    text-align: center;
}

.rod{

  background-color: #001a33;
  color: white;
    text-align: center;
}

.rev{
  background-color: white;
}

.cor{
  background-color: #001a33;
}
.barra{
  background-color: #001a33;
     
