@CHARSET "UTF-8";

.panel-body{
  border: 1px solid black;

 }

body{

  background-color: #262626;
 
}

@media screen and (min-width: 800px) {
div.principal{
  width: 72%;
  margin-left: 13%;
  padding: 0.3%;
  border: solid 1px DimGray; 
  box-shadow: 5px 0px 9px DimGray;
  background-color: white;
}      

.form-control{
  width: 20%;
  position: relative;
}

.im{
	margin: 0 auto;

}
  a{
    color: black;
  }

  p{
    text-align: center;
}

.les{
	float: right;
}
h2{
	text-align: center;
}
  p{
  	text-align: center;
  	text-align: justify;
}
  
.rec{
  margin-top: 2%;
  background-color: #001a33;
}
.pri{
  border: 1px solid black;
}

  li{
    list-style-type: none;
  }

 .form-control{
  float: right;
 }

 .ajuste{
   padding: 5px;
 }
 
 .espaco{
 	margin-bottom: 2%;
 }


 li{
    list-style-type: none;
  }

  a{
    color: white;
  }

  p{
    text-align: center;
}

.dir{
	color: black;
}

.conteudo{
  background: black;
  text-align: justify;
  color: white;
  margin-bottom: 2%;
}
.conteudo h2{
  text-align: center;
}

.texto{
  text-align: justify;
}
.conteudo .img-responsive {
    margin: 0 auto;
}
.rod{
 
  background-color: #001a33;
  color: white;
    text-align: center;
}

.rev{
  background-color: white;
}

.cor{
  background-color: #001a33;
}
.barra{
  background-color: #001a33;
     
}