<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
<meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="Css/bootstrap.css" />
   <link rel="stylesheet" type="text/css" href="Css/Associados.css" />
   <link rel="stylesheet" type="text/css" href="Css/Mobile.css" media="screen and (max-width: 800px)" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="Js/jquery.min.js"></script>
		<script type="text/javascript" src="Js/jquery.cycle.all.js"></script>
	</h:head>	
<h:body>
<div id="panel panel-default "> 
	      <div class="panel-body principal">

		<div id="panel panel-default"> 
	      <div class="panel-body ajuste cor">
	   
<div class="container-fluid barra">
			<form name="rokajaxsearch" class="navbar-form navbar-right" role="search" action="http://www.apecof.org.br/" method="get">
							<div class="rokajaxsearch fp-rokajaxsearch">
								<div class="roksearch-wrapper">
									<input id="roksearch_search_str" name="searchword" type="text" class="form-control" placeholder="Pesquisar" autocomplete="off"/>
								</div>
								<input type="hidden" name="searchphrase" value="any"/>
								<input type="hidden" name="limit" value="20"/>
								<input type="hidden" name="ordering" value="newest"/>
								<input type="hidden" name="view" value="search"/>
								<input type="hidden" name="option" value="com_search"/>								
							</div>
							<div id="rokajaxsearch_tmp" style="visibility:hidden;display:none;"></div>
						</form>
	</div>
</div>

		  <div id="panel panel-default">
                    <div class="panel-body rec rev">
                        <div class="container-fluid les">
                        		  <nav class="navbar navbar-default navbar-left menu les">
                                        <div class="container-fluid">
                                            <!-- Brand and toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle collapsed"
                                                        data-toggle="collapse"
                                                        data-target="#bs-example-navbar-collapse-1"
                                                        aria-expanded="false">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>

                                                </button>
                                                <a class="navbar-brand" href="#"></a>
                                            </div>


                                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                <ul class="nav navbar-nav">
                                                    <li class="active"><a href="index.xhtml">Home <span
                                                            class="sr-only">(current)</span></a></li>
                                                    <li><a href="Diretoria.xhtml">Diretoria</a></li>
                                                    <li><a href="SobreNos.xhtml">Sobre nós</a></li>
                                                    <li><a href="Associados.xhtml">Associados</a></li>
                                                    <li><a href="Portifolio.xhtml">Áreas de atuação</a></li>


                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                           role="button" aria-haspopup="true" aria-expanded="false">Postagens<span
                                                                class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="Noticias.xhtml">Noticias</a></li>
                                                           
                                                            <li><a href="visualizarEventos.xhtml">Eventos</a></li>

                                                        </ul>

                                                    </li>
                                                    <li><a href="FaleConosco.xhtml">Fale conosco</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </nav>
                        
                        </div>
                    </div>
                  </div>      
                <div id="panel panel-default">
                    <div class="panel-body ">
                        <div class="container-fluid ">
                        
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <img class="img-responsive im" src="imagens/logo.jpg" alt="logo" width="250"
                                         height="250"/>

                                </div>
                                <div class="col-sm-6">
                                  <h2>Missão</h2>
									<p>Nossa Missão
									Disseminar a metodologia científica de investigação de crimes em meio digital (computação forense) e direito eletrônico para profissionais de tecnologia, operadores do direito, vítimas e acusados em todo território nacional.</p>
                                  <p><a class="dir" href="SobreNos.xhtml"><strong>Conheça-nos</strong></a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
  <div id="panel panel-default">
	<div class="rodape rec2 rod2 panel-body">
		 <div class="container-fluid ">	
 	<img class="img-responsive" src="imagens/associados.jpg" alt="associados"/>
		</div>
		</div>
	</div>
</div>
<div id="panel panel-default"> 
	      <div class="panel-body bor rec lattes rev">
	     <div class="container-fluid  ">	
			<div class="row">
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <div class="caption">
      <h4>Carlos Barreto</h4>
        <h5>Juazeiro do Norte Ce</h5>
      <a href="http://lattes.cnpq.br/0303093062241270"><img class="img-responsive" src="imagens/lattes.png" alt="..."/></a>
     </div>
     
     </div>
     
     </div>
     <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      
      <div class="caption">
      <h4>Emerson Carlos</h4>
        <h5>Juazeiro do Norte Ce</h5>
      <a href=" http://lattes.cnpq.br/2875125381233974"><img class="img-responsive" src="imagens/lattes.png" alt="..."/></a>
     
     </div>
    </div>
   </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      
      <div class="caption">
      <h4>Inácio Leite Gorayeb</h4>
        <h5>Fortaleza Ce</h5>
      <a href=" http://lattes.cnpq.br/7803201435847361"><img class="img-responsive" src="imagens/lattes.png" alt="..."/></a>
     
     </div>
    </div>
   </div>
     </div>
    	
			<div class="row">		
		<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     
      <div class="caption">
      <h4>Jefferson Sampaio</h4>
        <h5>Mossoró RN</h5>
       <a href="http://lattes.cnpq.br/2261333594135913"><img class="img-responsive" src="imagens/lattes.png" alt="..."/></a>
     <br />
     </div>
    </div>
   </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     
      <div class="caption">
      <h4>Jonas Pinto Esteves</h4>
        <h5>Joazeiro do Norte Ce</h5>
        <a href="http://lattes.cnpq.br/3399542762119030"><img class="img-responsive" src="imagens/lattes.png" alt="..."/></a>
     <br />
     </div>
    </div>
   </div>
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     
      <div class="caption">
      <h4>Marcos José Alves de Barros Monteiro</h4>
        <h5>Fortaleza Ce</h5>
        
 <a href="http://lattes.cnpq.br/1527627943069759"><img class="img-responsive" src="imagens/lattes.png" alt="..."/></a>
     
     </div>
    </div>
  </div>
			</div>
			<div class="row">
			     
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      
      <div class="caption">
      <h4>Marcus Fábio Fontenelle</h4>
        <h5>Fortaleza Ce</h5>
          <a href=" http://lattes.cnpq.br/8238749341913095"><img class="img-responsive" src="imagens/lattes.png" alt="..."/></a>
   
     </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     
      <div class="caption">
      <h4>Rafael Maia</h4>
        <h5>Fortaleza Ce</h5>
        <a href="http://lattes.cnpq.br/8281420198536454"><img class="img-responsive" src="imagens/lattes.png" alt="..."/></a>
     
     </div>
    </div>
   </div>
   			<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     
      <div class="caption fr"> 
      <h4>Wandson Alves</h4>
        <h5>Fortaleza Ce</h5>
      <br />
     </div>
   </div>
   </div>
  </div>
			</div>
			
     </div>
     
     </div>
     <div id="panel panel-default"> 
	      <div class="panel-body rec cor lattes rev">
	     <div class="container-fluid">
	     	<h3>Quer se associar?</h3>
	     	<a href="QueroAssociar.xhtml"><h4>Clique aqui</h4></a>
	     </div>
	     </div>
	     </div>
</div>

 <div id="panel panel-default">
                                        <div class="rodape rec  panel-body">
                                            <div class="container-fluid panel rod">
                                                <footer> <!-- Aqui e a area do footer -->

                                                    <div class="row rod">
                                                        <div id="linksImportantes" class=" col-sm-4">
                                                            <h2>Links Rapidos</h2>
                                                            
                                                                <p><a href="index.xhtml">Home</a></p>
                                                                <p><a href="Diretoria.xhtml">Diretoria</a></p>
                                                                <p><a href="SobreNos.xhtml">Sobre nós</a></p>
                                                                <p><a href="Portifolio.xhtml">Portifólio</a></p>
                                                            
                                                         </div> <!-- Aqui e a area dos links importantes -->
                                                        <div id="linksImportantes" class="col-sm-4">
                                                            <h2>Postagens</h2>
                                                            
                                                                <p><a href="Noticias.xhtml">Noticias</a></p>
                                                               <p><a href="visualizarEventos.xhtml">Eventos</a></p>

                                     
                                                        </div> <!-- Aqui e a area das redes sociais -->
                                                        <div id="logoFooter" class="col-sm-4">
                                                        <br />
                                                            <p>APECOF-CE-Associação dos Peritos em
                                                                <br/>Computação Forense do Estado do Ceará</p>
                                                            <p>Avenida Santos Dumont, 2810, Fortaleza - CE,<br/> 60150-161, Brasil
                                                            </p>
                                                            <p> (85)00000-0000</p>
                                                        </div> <!-- Aqui e a area da logo do rodape -->
                                                    </div>

                                                </footer>
                                            </div>
                                        </div>
                                    </div>
	</div>	
 </div>
  </h:body>
  </html>