<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
<meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="Css/bootstrap.css" />
   <link rel="stylesheet" type="text/css" href="Css/Diretoria.css" />
   <link rel="stylesheet" type="text/css" href="Css/Mobile.css" media="screen and (max-width: 800px)" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="Js/jquery.min.js"></script>
		<script type="text/javascript" src="Js/jquery.cycle.all.js"></script>
	</h:head>	
<h:body>
<div id="panel panel-default "> 
	      <div class="panel-body principal">

		<div id="panel panel-default"> 
	      <div class="panel-body ajuste cor">
	   
<div class="container-fluid barra">
			<form name="rokajaxsearch" class="navbar-form navbar-right" role="search" action="http://www.apecof.org.br/" method="get">
							<div class="rokajaxsearch fp-rokajaxsearch">
								<div class="roksearch-wrapper">
									<input id="roksearch_search_str" name="searchword" type="text" class="form-control" placeholder="Pesquisar" autocomplete="off"/>
								</div>
								<input type="hidden" name="searchphrase" value="any"/>
								<input type="hidden" name="limit" value="20"/>
								<input type="hidden" name="ordering" value="newest"/>
								<input type="hidden" name="view" value="search"/>
								<input type="hidden" name="option" value="com_search"/>								
							</div>
							<div id="rokajaxsearch_tmp" style="visibility:hidden;display:none;"></div>
						</form>
	</div>
</div>

 <div id="panel panel-default">
                    <div class="panel-body rec rev">
                        <div class="container-fluid les">
                        		  <nav class="navbar navbar-default navbar-left menu les">
                                        <div class="container-fluid">
                                            <!-- Brand and toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle collapsed"
                                                        data-toggle="collapse"
                                                        data-target="#bs-example-navbar-collapse-1"
                                                        aria-expanded="false">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>

                                                </button>
                                                <a class="navbar-brand" href="#"></a>
                                            </div>


                                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                <ul class="nav navbar-nav">
                                                    <li class="active"><a href="index.xhtml">Home <span
                                                            class="sr-only">(current)</span></a></li>
                                                    <li><a href="Diretoria.xhtml">Diretoria</a></li>
                                                    <li><a href="SobreNos.xhtml">Sobre nós</a></li>
                                                    <li><a href="Associados.xhtml">Associados</a></li>
                                                    <li><a href="Portifolio.xhtml">Áreas de atuação</a></li>


                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                           role="button" aria-haspopup="true" aria-expanded="false">Postagens<span
                                                                class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="Noticias.xhtml">Noticias</a></li>
                                                           
                                                            <li><a href="visualizarEventos.xhtml">Eventos</a></li>

                                                        </ul>

                                                    </li>
                                                    <li><a href="FaleConosco.xhtml">Fale conosco</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </nav>
                        
                        </div>
                    </div>
                  </div>      
                <div id="panel panel-default">
                    <div class="panel-body ">
                        <div class="container-fluid ">
                        
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <img class="img-responsive im" src="imagens/logo.jpg" alt="logo" width="250"
                                         height="250"/>

                                </div>
                                <div class="col-sm-6">
                                  <h2>Missão</h2>
									<p>Nossa Missão
									Disseminar a metodologia científica de investigação de crimes em meio digital (computação forense) e direito eletrônico para profissionais de tecnologia, operadores do direito, vítimas e acusados em todo território nacional.</p>
                                  <p><a class="dir" href="SobreNos.xhtml"><strong>Conheça-nos</strong></a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
  <div id="panel panel-default">
	<div class="rodape rec2 rod2 panel-body">
		

			<h2>Nosso objetivo</h2>
			<p>Trazer aos nossos associados e a sociedade suporte para garantir que os criminosos digitais possam ser identificados e serem punidos pelos seus atos.</p>
		</div>
	</div>
</div>
<div id="panel panel-default"> 
	      <div class="panel-body rec rev">
	     <div class="container-fluid ">	
					<h1>Diretoria</h1>
					<div class="tabbable tabs-left">
        <ul class="nav nav2 nav-tabs">
          <li><a href="#lA" data-toggle="tab">Marcos Monteiro</a></li>
          <li><a href="#lB" data-toggle="tab">Marcus Fábio</a></li>
          <li><a href="#lC" data-toggle="tab">Rafael Maia</a></li>
            <li><a href="#lD" data-toggle="tab">Mauricio Menezes</a></li> 
          <li><a href="#lE" data-toggle="tab">Wandson Alves</a></li>
          <li><a href="#lF" data-toggle="tab">Rodolfo Costa</a></li>
          <li><a href="#lG" data-toggle="tab">Emerson Carlos</a></li>
          <li><a href="#lH" data-toggle="tab">André Luiz de Oliveira Lima</a></li>
          <li><a href="#lI" data-toggle="tab">José Raimundo Camilo Castro Junior</a></li>
          <li><a href="#lJ" data-toggle="tab">Alexandre Bezerra do Nascimento</a></li> 
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="lA">
          <img class="img-responsive imagem" src="imagens/marcos3.jpg" alt="marcos"/>
 
               <div class="panel-heading"><p>Presidente</p></div>
          
          
           <p class="cri">Chief Information Officer (CIO) da Agência de Defesa Agropecuária do estado do Ceará (ADAGRI); Presidente da Associação de Peritos em Computação Forense do Estado do Ceará (APECOF); membro e ex-diretor de responsabilidade socioambiental do Grupo de Gestores de TIC (GGTIC-CE - http://www.ggtic-ce.org.br), Diretor de Grupos de Interesse da Associação de usuários de Informática e Telecomunicações (SUCESU-CE http://www.sucesuce.org.br), Professor do Centro Universitário Estácio de Sá do Ceará dos cursos de graduação tecnológica em Analise e Desenvolvimento de Sistemas, Redes de Computadores e Bacharelado em Sistema de Informação; professor da Pós graduação em Analise, Projetos e Gerência de Sistemas e da Pós graduação em Administração e Segurança de Sistemas Computacionais do Centro Universitário Estácio de Sá; professor da pós graduação em Segurança Informação da Faculdade Evolução; professor da pós graduação em Auditoria e Segurança da Informação da Faculdade Paraíso.</p>
       
    
   
          </div>
          <div class="tab-pane" id="lB">
            <img class="img-responsive aj" src="imagens/fabio3.jpg" alt="fabio"/>
            
             <div class="panel-heading"><p>Vice-Presidente</p></div>
            <p class="cri">Mestre em Informática Aplicada, tendo realizado cursos de extensão no Massachusetts Institute of Technology (MIT) em Cambridge/EUA na área de Cibersegurança. Vice-presidente da APECOF (Associação dos Peritos em Computação Forense do Estado do Ceará), membro do GGTIC-CE (Grupo de Gestores de Tecnologia da Informação e Comunicação do Ceará) e coordenador do curso de pós-graduação em Segurança da Informação da Universidade de Fortaleza (Unifor), além de possuir certificações internacionais de diversas entidades, tais como: CompTIA, EXIN, Furukawa, LPI e Microsoft.</p>
           
          </div>
          
          <div class="tab-pane" id="lC">
          <img class="img-responsive aj" src="imagens/maia3.jpg" alt="maia"/>
          <div class="panel-heading"><p>Primeiro tesoureiro</p></div>
           <p class="cri">Profissional da área de tecnologia da informação e comunicação com 15 anos de atuação. Especialista em gerência de redes de computadores e telecomunicações pela FATENE. Graduado em tecnologia de redes de computadores e em projetos e implementação de redes de computadores pela Estácio-FIC. Atualmente ensina na FAC(Faculdades Cearenses). Com foco em governança de TI, gestão de serviços de TI e segurança da informação têm diversas certificações. Atuou como gerente de equipes de infraestrutura e sistemas, gestor técnico, consultor de processos ITIL e Analista de Suporte/TI/Segurança em ambientes públicos e privados. É instrutor Oficial EXIN para a certificação ISO 27002 Foundation e ITIL Foundation</p>
           
          </div>
           <div class="tab-pane" id="lD">
            <img class="img-responsive aj" src="imagens/mauricio3.jpg" alt="mauricio"/>
          <div class="panel-heading"> <p class="titulos3">Primeiro Secretário</p></div>
          <p class="cri">Realiza trabalhos voltados a gestão de TI, projetos de CPD´s e infra-estrutura de redes de computador para diversos segmentos. Diretor Financeiro da APECOF (Associação dos Peritos em Computação Forense do Estado do Ceará)</p>
                    </div>  
     
         <div class="tab-pane" id="lE">
         <img class="img-responsive aj" src="imagens/wandson3.jpg" alt="wandson"/>
          <div class="panel-heading"><p>Segundo Tesoureiro</p></div>
               <p class="cri">Especialista em Governança de Tecnologia da Informação. Chief Information Officer (CIO) do Instituto do Desenvolvimento Agrário do Ceará, Segundo Tesoureiro da Associação de Peritos em Computação Forense do Estado do Ceará (APECOF), Membro do GGTIC-CE (Grupo de Gestores de Tecnologia da Informação e Comunicação do Ceará), membro oficial do HTCIA - HIGH TECHNOLOGY CRIME INVESTIGATION ASSOCIATION. Possui certificações internacionais, como: Microsoft, CompTIA, VmWARE.</p>
                    </div>
                    
          <div class="tab-pane" id="lF">
         <img class="img-responsive aj" src="imagens/Rodolfo3.jpg" alt="rodolfo"/>
          <div class="panel-heading"><p>Segundo Secretário</p></div>
          <p class="cri"> Técnico em Eletrônica (CEFET-PR), Advogado (UFPR), Especialista em Direito Tributário (UNICURITIBA) e Gestão Empresarial (UNIFOR), Corretor de Imóveis (CETREDE). Fluente em Inglês e Espanhol. Especialidades: Consultoria em Direito Tributário, Empresarial, Imobiliário, Eletrônico e Internacional.</p>
                    </div>     
                    
            <div class="tab-pane" id="lG">
        <img class="img-responsive aj" src="imagens/Emerson3.jpg" alt="emerson"/>
          <div class="panel-heading"><p>Presidente do Conselho Fiscal
							Auditor em Segurança da Informação.</p></div>
                    </div>                   
              <div class="tab-pane" id="lH">
        <img class="img-responsive aj"  src="imagens/sei3.png" alt="andre"/>
          <div class="panel-heading"> <p class="titulos3 ">1º Membro do Conselho Fiscal</p></div>
                    </div>                           
        <div class="tab-pane" id="lI">
       <img class="img-responsive aj" src="imagens/sei3.png" alt="jose"/>
          <div class="panel-heading"> <p class="titulos3 ">2º Membro do Conselho Fiscal</p></div>
                    </div>       
                    <div class="tab-pane" id="lJ">
        <img class="img-responsive aj" src="imagens/sei3.png" alt="alexandre"/>
          <div class="panel-heading"> <p class="titulos3 ">3º Membro do Conselho Fiscal</p></div>
                    </div>       
        </div>
</div> 
        	
        	
        </div>
        </div>
        </div>	
  


 <div id="panel panel-default">
                                        <div class="rodape rec  panel-body">
                                            <div class="container-fluid panel rod">
                                                <footer> <!-- Aqui e a area do footer -->

                                                    <div class="row rod">
                                                        <div id="linksImportantes" class=" col-sm-4">
                                                            <h2>Links Rapidos</h2>
                                                            
                                                                <p><a href="index.xhtml">Home</a></p>
                                                                <p><a href="Diretoria.xhtml">Diretoria</a></p>
                                                                <p><a href="SobreNos.xhtml">Sobre nós</a></p>
                                                                <p><a href="Portifolio.xhtml">Portifólio</a></p>
                                                            
                                                         </div> <!-- Aqui e a area dos links importantes -->
                                                        <div id="linksImportantes" class="col-sm-4">
                                                            <h2>Postagens</h2>
                                                            
                                                                <p><a href="Noticias.xhtml">Noticias</a></p>
                                                                <p><a href="visualizarEventos.xhtml">Eventos</a></p>

                                     
                                                        </div> <!-- Aqui e a area das redes sociais -->
                                                        <div id="logoFooter" class="col-sm-4"> 
                                                        <br />
                                                            <p>APECOF-CE-Associação dos Peritos em
                                                                <br/>Computação Forense do Estado do Ceará</p>
                                                            <p>Avenida Santos Dumont, 2810, Fortaleza - CE,<br/> 60150-161, Brasil
                                                            </p>
                                                            <p> (85)00000-0000</p>
                                                        </div> <!-- Aqui e a area da logo do rodape -->
                                                    </div>

                                                </footer>
                                            </div>
                                        </div>
                                    </div>
	</div>	
 </div>
  </h:body>
  </html>