<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="Css/apecof.css"/>
       <link rel="stylesheet" type="text/css" href="Css/Mobile.css" media="screen and (max-width: 800px)" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="Js/jquery.min.js"></script>
    <script type="text/javascript" src="Js/jquery.cycle.all.js"></script>
</h:head>
<h:body>
    <div id="panel panel-default ">
        <div class="panel-body principal">

            <div id="panel panel-default">
                <div class="panel-body ajuste cor">

                    <div class="container-fluid barra">
                        <form name="rokajaxsearch" class="navbar-form navbar-right" role="search"
                              action="http://www.apecof.org.br/" method="get">
                            <div class="rokajaxsearch fp-rokajaxsearch">
                                <div class="roksearch-wrapper">
                                    <input id="roksearch_search_str" name="searchword" type="text" class="form-control"
                                           placeholder="Pesquisar" autocomplete="off"/>
                                </div>
                                <input type="hidden" name="searchphrase" value="any"/>
                                <input type="hidden" name="limit" value="20"/>
                                <input type="hidden" name="ordering" value="newest"/>
                                <input type="hidden" name="view" value="search"/>
                                <input type="hidden" name="option" value="com_search"/>
                            </div>
                            <div id="rokajaxsearch_tmp" style="visibility:hidden;display:none;"></div>
                        </form>
                    </div>
                </div>
				  <div id="panel panel-default">
                    <div class="panel-body rec rev">
                        <div class="container-fluid les">
                        		  <nav class="navbar navbar-default navbar-left menu les">
                                        <div class="container-fluid">
                                            <!-- Brand and toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle collapsed"
                                                        data-toggle="collapse"
                                                        data-target="#bs-example-navbar-collapse-1"
                                                        aria-expanded="false">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>

                                                </button>
                                                <a class="navbar-brand" href="#"></a>
                                            </div>


                                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                <ul class="nav navbar-nav">
                                                    <li class="active"><a href="index.xhtml">Home <span
                                                            class="sr-only">(current)</span></a></li>
                                                    <li><a href="Diretoria.xhtml">Diretoria</a></li>
                                                    <li><a href="SobreNos.xhtml">Sobre nós</a></li>
                                                    <li><a href="Associados.xhtml">Associados</a></li>
                                                    <li><a href="Portifolio.xhtml">Áreas de atuação</a></li>


                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                           role="button" aria-haspopup="true" aria-expanded="false">Postagens<span
                                                                class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="Noticias.xhtml">Noticias</a></li>
                                                           
                                                            <li><a href="visualizarEventos.xhtml">Eventos</a></li>

                                                        </ul>

                                                    </li>
                                                    <li><a href="FaleConosco.xhtml">Fale conosco</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </nav>
                        
                        </div>
                    </div>
                  </div>      
                <div id="panel panel-default">
                    <div class="panel-body ">
                        <div class="container-fluid ">
                        
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <img class="img-responsive im" src="imagens/logo.jpg" alt="logo" width="250"
                                         height="250"/>

                                </div>
                                <div class="col-sm-6">
                                  <h2>Missão</h2> 
									<p>Nossa Missão
									Disseminar a metodologia científica de investigação de crimes em meio digital (computação forense) e direito eletrônico para profissionais de tecnologia, operadores do direito, vítimas e acusados em todo território nacional.</p>
                                  <p><a class="dir" href="SobreNos.xhtml"><strong>Conheça-nos</strong></a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="panel panel-default ">
                    <div class="panel-body rev rec Slides">
                        <div class="container-fluid">

                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                     
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <a href="Portifolio.xhtml"> <img src="imagens/area4.jpg" alt="pesquisa"
                                                                       /></a>
                                    </div>

                                    <div class="item">
                                        <a href="Noticias.xhtml"> <img src="imagens/noti.jpg" alt="pesquisa"
                                                                   /></a>
                                    </div>

                                    <div class="item">
                                        <a href="visualizarEventos.xhtml"> <img src="imagens/even.jpg" alt="pesquisa"
                                                                      /></a>
                                    </div>
                                </div>

                                <!-- Left and right controls -->

                            </div>


								

                                    
                        </div>
                    </div>
                </div>
                <br />
                 <div id="panel panel-default"> 
	      <div class="noticia panel-body">
	     <div class="container-fluid  ">	
			<div class="row ">
        
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail ro ">
				  		<img class="img-responsive im" src="imagens/whats2.jpg" alt="verdade" width="200px" height="100px"/> 
      <div class="caption">
				  		<p class="noticiario"><a  href="noticia1.xhtml" class="s"><span>22/07</span><strong> - Como o governo teria grampeado terroristas no WhatsApp?</strong></a></p>
				  			<br />
				  			<p class="noticiario2">A Polícia Federal (PF) deflagrou a operação antiterror "Hashtag" e prendeu 10 pessoas supostamente ligadas ao Estado Islâmico na manhã desta quinta-feira (21). </p>
       							<p class="cf ju"><a  class="cf" href="noticia1.xhtml"><strong class="ju">Continue lendo...</strong></a></p>
         	
						
     </div>
    </div> 
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail ro"  >
				  		<img class="img-responsive im" src="imagens/malware2.jpg" alt="verdade" width="200px" height="100px"/> 
      <div class="caption">
				  						<p class="noticiario"><a href="noticia2.xhtml" class="s"><span>22/07</span><strong> - Museu do Malware (Malware Museum)</strong></a></p>
        
<p class="noticiario2">O Museu do Malware (Malware Museum) foi criado por Mikko Hypponen. O site é uma coleção de programas maliciosos, normalmente vírus, que foram distribuídos entre 1980 e 1990 com o intuito de infectar computadores domésticos. </p>
		  <p class="cf ju"><a  class="cf" href="noticia2.xhtml"><strong class="ju">Continue lendo...</strong></a></p>
         		
     </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail ro"> 
				  		<img class="img-responsive im" src="imagens/dinheiro4.jpg" alt="verdade" width="200px" height="100px"/> 
      <div class="caption">
				  						<p class="noticiario "><a href="noticia3.xhtml" class="s"><span>21/07</span><strong> - Profissionais certificados pela CompTIA conquistam salários acima da média do mercado</strong></a></p>
				  			<p class="noticiario2">A CompTIA é uma associação de comércio sem fins lucrativos que promove os interesses globais dos profissionais e das empresas de TI . </p>
      <p class="cf ju"><a  class="cf" href="noticia3.xhtml"><strong class="ju">Continue lendo...</strong></a></p>
         		

     </div>
    </div>
  </div>
   
 </div>
 
   	</div>
   	</div>
   	</div>
   	 <div id="panel panel-default"> 
	      <div class="noticia panel-body">
	     <div class="container-fluid  ">	
			<div class="row ">
   <div class="col-sm-6 col-md-4">
    <div class="thumbnail ro">
				  		<img class="img-responsive im" src="imagens/apecof.jpg" alt="verdade" width="200px" height="100px"/> 
      <div class="caption">
				  						<p class="noticiario"><a href="noticia4.xhtml" class="s"><span>19/07 </span><strong>-  WhatsApp: Justiça do RJ manda bloquear aplicativo em todo o Brasil</strong></a></p>
        
				  			<p class="noticiario2">A Justiça do Rio de Janeiro determinou o bloqueio do WhatsApp em todo o Brasil. Uma notificação foi enviada para as empresas de telefonia após o Facebook se recusar a cumprir uma decisão judicial e fornecer informações para uma investigação policial.</p>
				<p class="cf ju"><a  class="cf" href="noticia4.xhtml"><strong class="ju">Continue lendo...</strong></a></p>
         		
     </div>
    </div>
  </div>
 
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail ro">
				  		<img class="img-responsive im" src="imagens/virus2.jpg" alt="verdade" width="200px" height="100px"/> 
      <div class="caption">
				  						<p class="noticiario"><a href="noticia6.xhtml" class="s"><span>24/06 </span><strong> - Irongate, um novo Stuxnet?</strong></a></p>
        
				  			<p class="noticiario2">Em meados do ano passado a empresa FireEye descobriu em uma base de dados na web chamada VirusTotal (que é usada como repositório de códigos suspeitos que são enviados por usuários para serem analisados por diversos sistemas antivírus), de propriedade da Google, um código malicioso capaz de manipular Sistemas de Controle de Supervisão e Aquisição de Dados .</p>
				<p class="cf ju1"><a  class="cf" href="noticia6.xhtml"><strong class="ju">Continue lendo...</strong></a></p>
         		
     </div>
    </div>
  </div>
  
   <div class="col-sm-6 col-md-4"> 
    <div class="thumbnail ro">
				  		<img class="img-responsive im" src="imagens/set.jpg" alt="verdade" /> 
      <div class="caption">
				  						<p class="noticiario"><a href="noticia11.xhtml" class="s"><span>02/06</span><strong>  - Documentário “Zero Days"</strong></a></p>
        
				
				  			<p class="noticiario2">Será lançado no dia 8 de Julho de 2016 um documentário que irá contar a história do Stuxnet (vírus criado para atacar o sistema desenvolvido pela Siemens responsável pelo controle das centrífugas de enriquecimento de urânio iranianas).</p>
				  				
				  			<br />	
				  				<p class="cf ju"><a  class="cf" href="noticia11.xhtml"><strong class="ju">Continue lendo...</strong></a></p>
         		
				  				
     </div>
    </div>
  </div> 
  <br /><div class="antigas2">
         					<p class="cf"><a  class="cf" href="Noticias.xhtml"><strong>Outras postagens</strong></a></p>
         			</div>  
  </div> 
  </div>
  </div> 
  </div>
  
  
                
                            <div id="panel panel-default">
                                <div class="panel-body rec rev">
                                    <div class=" container-fluid "> 
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a href="Portifolio.xhtml"><img class="img-responsive pri "
                                                                                src="imagens/area3.jpg"
                                                                                alt="portifolio"/></a>
                                            </div>
                                           
                                            <div class="col-sm-3">
                                                <a href="Noticias.xhtml"><img class="img-responsive pri"
                                                                              src="imagens/noticia.jpg"
                                                                              alt="portifolio"/></a>
                                            </div>
                                            <div class="col-sm-3">
                                                <a href="visualizarEventos.xhtml"><img class="img-responsive pri"
                                                                              src="imagens/evento0.jpg"
                                                                               alt="portifolio"/></a>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                
                                </div> 
            </div>
            <div id="panel panel-default">
                                        <div class="rodape rec  panel-body">
                                            <div class="container-fluid panel rod">
                                                <footer> <!-- Aqui e a area do footer -->

                                                    <div class="row rod">
                                                        <div id="linksImportantes" class=" col-sm-4">
                                                            <h2>Links Rapidos</h2>
                                                            
                                                                <p><a href="index.xhtml">Home</a></p>
                                                                <p><a href="Diretoria.xhtml">Diretoria</a></p>
                                                                <p><a href="SobreNos.xhtml">Sobre nós</a></p>
                                                                <p><a href="Portifolio.xhtml">Portifólio</a></p>
                                                            
                                                         </div> <!-- Aqui e a area dos links importantes -->
                                                        <div id="linksImportantes" class="col-sm-4">
                                                            <h2>Postagens</h2>
                                                            
                                                                <p><a href="Noticias.xhtml">Noticias</a></p>
                                                                <p><a href="visualizarEventos.xhtml">Eventos</a></p>

                                     
                                                        </div> <!-- Aqui e a area das redes sociais -->
                                                        <div id="logoFooter" class="col-sm-4">
                                                        <br />
                                                            <p>APECOF-CE-Associação dos Peritos em
                                                                <br/>Computação Forense do Estado do Ceará</p>
                                                            <p>Avenida Santos Dumont, 2810, Fortaleza - CE,<br/> 60150-161, Brasil
                                                            </p>
                                                            <p> (85)00000-0000</p>
                                                        </div> <!-- Aqui e a area da logo do rodape -->
                                                    </div>

                                                </footer>
                                            </div>
                                        </div>
                                    </div>
            
        </div>
        
    </div>
</h:body>
</html>

