<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="Css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="Css/Noticia.css"/>
    <link rel="stylesheet" type="text/css" href="Css/Mobile.css" media="screen and (max-width: 800px)"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="Js/jquery.min.js"></script>
    <script type="text/javascript" src="Js/jquery.cycle.all.js"></script>
</h:head>
<h:body>
    <div id="panel panel-default ">
        <div class="panel-body principal">

            <div id="panel panel-default">
                <div class="panel-body ajuste cor">

                    <div class="container-fluid barra">
                        <form name="rokajaxsearch" class="navbar-form navbar-right" role="search"
                              action="http://www.apecof.org.br/" method="get">
                            <div class="rokajaxsearch fp-rokajaxsearch">
                                <div class="roksearch-wrapper">
                                    <input id="roksearch_search_str" name="searchword" type="text" class="form-control"
                                           placeholder="Pesquisar" autocomplete="off"/>
                                </div>
                                <input type="hidden" name="searchphrase" value="any"/>
                                <input type="hidden" name="limit" value="20"/>
                                <input type="hidden" name="ordering" value="newest"/>
                                <input type="hidden" name="view" value="search"/>
                                <input type="hidden" name="option" value="com_search"/>
                            </div>
                            <div id="rokajaxsearch_tmp" style="visibility:hidden;display:none;"></div>
                        </form>
                    </div>
                </div>

                <div id="panel panel-default">
                    <div class="panel-body rec rev cos">
                        <div class="container-fluid  les">
                            <nav class="navbar navbar-default navbar-left menu les">
                                <div class="container-fluid">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed"
                                                data-toggle="collapse"
                                                data-target="#bs-example-navbar-collapse-1"
                                                aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>

                                        </button>
                                        <a class="navbar-brand" href="#"></a>
                                    </div>


                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="index.xhtml">Home <span
                                                    class="sr-only">(current)</span></a></li>
                                            <li><a href="Diretoria.xhtml">Diretoria</a></li>
                                            <li><a href="SobreNos.xhtml">Sobre nós</a></li>
                                            <li><a href="Associados.xhtml">Associados</a></li>
                                            <li><a href="Portifolio.xhtml">Áreas de atuação</a></li>


                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                   role="button" aria-haspopup="true"
                                                   aria-expanded="false">Postagens<span
                                                        class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="Noticias.xhtml">Noticias</a></li>

                                                    <li><a href="visualizarEventos.xhtml">Eventos</a></li>

                                                </ul>

                                            </li>
                                            <li><a href="FaleConosco.xhtml">Fale conosco</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
                <div id="panel panel-default">
                    <div class="panel-body cos espaco">
                        <div class="container-fluid ">

                            <div class="row">
                                <div class="col-sm-6 ">
                                    <img class="img-responsive im" src="imagens/logo.jpg" alt="logo" width="250"
                                         height="250"/>

                                </div>
                                <div class="col-sm-6">
                                    <h2>Missão</h2>
                                    <p>Nossa Missão
                                        Disseminar a metodologia científica de investigação de crimes em meio digital (computação forense) e direito eletrônico para profissionais de tecnologia, operadores do direito, vítimas e acusados em todo território nacional.</p>
                                    <p><a class="dir" href="SobreNos.xhtml"><strong>Conheça-nos</strong></a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="panel panel-defaults">
                    <div class="rodape rec  panel-body">
                        <div class="container-fluid panel rod">
                            <h1>Como o governo teria grampeado terroristas no WhatsApp?</h1>
                            <img src="imagens/whatsapp.jpg" class="img-responsive ajuste " alt=""/>
                            <p class="text">A Polícia Federal (PF) deflagrou a operação antiterror "Hashtag" e prendeu 10 pessoas supostamente ligadas ao Estado Islâmico na manhã desta quinta-feira (21). Segundo o ministro da Justiça, Alexandre de Moraes, as investigações teriam envolvido a interceptação de conversas em aplicativos como Telegram e WhatsApp - apesar de o WhatsApp ter sido bloqueado esta semana por não ter condições de auxiliar as autoridades na investigação de crimes.


                                <p class="text">Questionado sobre como a polícia agora conseguiu acesso às conversas do aplicativo, o ministro não quis explicar a técnica usada.</p>


                                <p class="text">"Qualquer mecanismo de investigação não deve ser falado numa entrevista coletiva para avisar um suposto terrorista sobre como se investiga", justificou Moraes. Apesar da não cooperação do WhatsApp, o ministro disse que a investigação tem "outros meios".</p>


                                <p class="text">Se o WhatsApp não possui condições de ajudar a polícia e o aplicativo utiliza a criptografia ponta-a-ponta, que impede a leitura de dados com "grampos" tradicionais, como a polícia pode ter conseguido acesso às mensagens?</p>


                                <h4 class="text">WhatsApp pode sim colaborar</h4>
                                <p class="text">O primeiro detalhe é que o WhatsApp pode sim interceptar conversas em sua rede, pois detém o controle do processo de troca de "chaves". A chave é uma sequência usada para codificar e decodificar os dados. Embora a chave seja gerada e armazenada apenas no celular do utilizador, o WhatsApp pode, a qualquer momento, iniciar um novo processo de troca de chaves e transmitir chaves incorretas para dois ou mais contatos, viabilizando a interceptação.</p>


                                <p class="text">A limitação desse mecanismo é que ele pode ser percebido pelos participantes da conversa, especialmente se eles checarem as chaves que estão usando (assista ao vídeo).</p>


                                <p class="text">Apesar de a possibilidade existir, é pouco provável que o WhatsApp tenha colaborado com essa investigação. Não há sequer confirmação de que o WhatsApp tenha desenvolvido a tecnologia para realizar esse tipo de grampo em sua rede. Sendo esse o caso, quais podem ser os "outros métodos" citados pelo ministro?</p>


                                <h4>Interceptação sem colaboração dos apps é possível</h4>
                                <p class="text">Existem ao menos quatro métodos de se obter os dados da comunicação do WhatsApp e que não exigem a quebra da segurança do aplicativo em si e nem a colaboração dele para funcionar. São eles:</p>


                                <br/>
                                <h4>1. Instalação de vírus no computador ou no celular dos investigados.</h4>
                                <p class="text"> Como o WhatsApp permite o uso do aplicativo por meio do WhatsApp Web, não é preciso necessariamente contaminar o celular com um software espião. Infectar o celular é difícil, mas, desde que alguém esteja usando o WhatsApp ou o Telegram via Web, não é preciso espionar especificamente o celular. Basta que a pessoa entre no WhatsApp Web uma vez para que todo o histórico seja obtido por um software espião. Sabe-se que a Polícia Federal tem ao menos interesse nesse tipo de código, pois a PF estava entre os possíveis clientes da empresa italiana Hacking Team, especializada na oferta de programas espiões.</p>


                                <br/>
                                <h4>2. Obtenção do backup de conversas.</h4>
                                <p class="text">As conversas do WhatsApp são copiadas sem criptografia para o Google Drive ou para o iCloud. Caso algum dos investigados tenha ativado esse backup, as autoridades podem solicitar o backup das conversas para o Google ou para a Apple.</p>


                                <br/>
                                <h4>3. Agente infiltrado em grupos.</h4>
                                <p class="text"> Um agente pode convencer os administradores dos grupos investigados a adicionar seu telefone ao grupo. A partir desse momento, toda a conversa poderá ser lida pela polícia. Segundo o advogado especializado em direito eletrônico Walter Aranha Capanema, a infiltração é prevista em lei (12.850/2013 e 13.260/2016). "A lei antiterrorismo permite a aplicação dos meios de investigação próprios da lei das organizações criminosas. Um desses meios é a infiltração, que exige ordem judicial", explica. (A Polícia Federal não confirma nem nega que tenha infiltrado agentes em grupos de Telegram e WhatsApp)</p>


                                <br/>
                                <h4>4. Clonagem do número com colaboração da operadora.</h4>
                                <p class="text"> Ainda que o WhatsApp não coopere com as investigações, as operadoras cooperam. A operadora poderia transferir um dos números investigados para um chip em posse da polícia, que então poderia instalar e ativar o WhatsApp com o número que até então pertencia exclusivamente a um dos investigados. Nesse momento, a PF teria em mãos um celular capaz de receber toda a comunicação, tendo para si um número até então confiado pelos investigados. De acordo com Capanema, esse método entraria como interceptação (lei 9.296/96) e também poderia ser realizado pela polícia, desde que com ordem judicial. A limitação deste método é que dono do número escolhido pela PF para transferir para si mesma ficaria sem acesso ao WhatsApp ou mesmo sem telefone, pelo menos temporariamente, podendo perrceber que há algo "estranho" acontecendo.</p>


                                <br/>
                                <p class="text">O WhatsApp não foi o único monitorado: a PF também teria acessado conversas do Telegram. A criptografia do aplicativo Telegram é considerada menos segura que a do WhatsApp. Além disso, o app não criptografa as conversas sem que os participantes iniciem um "chat secreto". Caso a PF tenha realmente quebrado diretamente a segurança de um dos aplicativos, o Telegram é o alvo mais provável.</p>


                                <p class="text">Existe ainda a possibilidade que a PF não chegou a ter acesso às conversas, mas se limitou aos chamados "metadados". Os metados não têm o conteúdo da conversa, mas podem ajudar a polícia a saber quem fala com quem e quando.</p>


                                <p class="text">Embora essas interceptações sejam mais trabalhosas e também exijam certos descuidos por parte dos investigados, as autoridades realmente têm meios para obter o conteúdo de mensagens sem precisar da colaboração dos responsáveis pelos apps.</p>
                                <p class="text">Foto: Sam Azgor/Flickr/CC</p>
                                <p class="text">Fonte: http://g1.globo.com/tecnologia/blog/seguranca-digital/post/como-o-governo-teria-grampeado-terroristas-no-whatsapp.html</p>
                            </p>


                        </div>
                    </div>
                </div>
                <div id="panel panel-default">
                    <div class="rodape rec  panel-body">
                        <div class="container-fluid panel rod">
                            <footer> <!-- Aqui e a area do footer -->

                                <div class="row rod">
                                    <div id="linksImportantes" class=" col-sm-4">
                                        <h2>Links Rapidos</h2>

                                        <p><a href="index.xhtml">Home</a></p>
                                        <p><a href="Diretoria.xhtml">Diretoria</a></p>
                                        <p><a href="SobreNos.xhtml">Sobre nós</a></p>
                                        <p><a href="Portifolio.xhtml">Portifólio</a></p>

                                    </div> <!-- Aqui e a area dos links importantes -->
                                    <div id="linksImportantes" class="col-sm-4">
                                        <h2>Postagens</h2>

                                        <p><a href="Noticias.xhtml">Noticias</a></p>
                                        <p><a href="visualizarEventos.xhtml">Eventos</a></p>


                                    </div> <!-- Aqui e a area das redes sociais -->
                                    <div id="logoFooter" class="col-sm-4">
                                        <br/>
                                        <p>APECOF-CE-Associação dos Peritos em
                                            <br/>Computação Forense do Estado do Ceará</p>
                                        <p>Avenida Santos Dumont, 2810, Fortaleza - CE,<br/> 60150-161, Brasil
                                        </p>
                                        <p> (85)00000-0000</p>
                                    </div> <!-- Aqui e a area da logo do rodape -->
                                </div>

                            </footer>
                        </div>
                    </div>
                </div>
            </div><!--Div depois do corpo-->

        </div><!--Div do Corpo-->
    </div>

</h:body>
</html>
