<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      <h:head>
<meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="Css/bootstrap.css" />
   <link rel="stylesheet" type="text/css" href="Css/Noticia.css" />
   <link rel="stylesheet" type="text/css" href="Css/Mobile.css" media="screen and (max-width: 800px)" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="Js/jquery.min.js"></script>
		<script type="text/javascript" src="Js/jquery.cycle.all.js"></script>
	</h:head>	
<h:body>
<div id="panel panel-default "> 
	      <div class="panel-body principal">

		<div id="panel panel-default"> 
	      <div class="panel-body ajuste cor">
	   
<div class="container-fluid barra">
			<form name="rokajaxsearch" class="navbar-form navbar-right" role="search" action="http://www.apecof.org.br/" method="get">
							<div class="rokajaxsearch fp-rokajaxsearch">
								<div class="roksearch-wrapper">
									<input id="roksearch_search_str" name="searchword" type="text" class="form-control" placeholder="Pesquisar" autocomplete="off"/>
								</div>
								<input type="hidden" name="searchphrase" value="any"/>
								<input type="hidden" name="limit" value="20"/>
								<input type="hidden" name="ordering" value="newest"/>
								<input type="hidden" name="view" value="search"/>
								<input type="hidden" name="option" value="com_search"/>								
							</div>
							<div id="rokajaxsearch_tmp" style="visibility:hidden;display:none;"></div>
						</form>
	</div>
</div>

		<div id="panel panel-default">
                    <div class="panel-body rec rev cos">
                        <div class="container-fluid les">
                        		  <nav class="navbar navbar-default navbar-left menu les">
                                        <div class="container-fluid">
                                            <!-- Brand and toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle collapsed"
                                                        data-toggle="collapse"
                                                        data-target="#bs-example-navbar-collapse-1"
                                                        aria-expanded="false">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>

                                                </button>
                                                <a class="navbar-brand" href="#"></a>
                                            </div>


                                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                <ul class="nav navbar-nav">
                                                    <li class="active"><a href="index.xhtml">Home <span
                                                            class="sr-only">(current)</span></a></li>
                                                    <li><a href="Diretoria.xhtml">Diretoria</a></li>
                                                    <li><a href="SobreNos.xhtml">Sobre nós</a></li>
                                                    <li><a href="Associados.xhtml">Associados</a></li>
                                                    <li><a href="Portifolio.xhtml">Áreas de atuação</a></li>


                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                           role="button" aria-haspopup="true" aria-expanded="false">Postagens<span
                                                                class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="Noticias.xhtml">Noticias</a></li>
                                                           
                                                            <li><a href="visualizarEventos.xhtml">Eventos</a></li>

                                                        </ul>

                                                    </li>
                                                    <li><a href="FaleConosco.xhtml">Fale conosco</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </nav>
                        
                        </div>
                    </div>
                  </div>      
                <div id="panel panel-default">
                    <div class="panel-body cos espaco ">
                        <div class="container-fluid ">
                        
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <img class="img-responsive im" src="imagens/logo.jpg" alt="logo" width="250"
                                         height="250"/>

                                </div>
                                <div class="col-sm-6">
                                  <h2>Missão</h2>
									<p>Nossa Missão
									Disseminar a metodologia científica de investigação de crimes em meio digital (computação forense) e direito eletrônico para profissionais de tecnologia, operadores do direito, vítimas e acusados em todo território nacional.</p>
                                  <p><a class="dir" href="SobreNos.xhtml"><strong>Conheça-nos</strong></a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
  <div id="panel panel-default">
	<div class="rodape rec  panel-body">
	<div class="container-fluid panel rod">
		<h1>Falha em notebooks da Dell põe usuários em risco</h1>
			<img src="imagens/dell.JPG " class="img-responsive ajuste"></img>
			<h4>Notebooks: falha em aparelhos da Dell facilita roubo de dados</h4>
			<p class="text">Lucas Agrela, de EXAME.com</p>
<p class="text">São Paulo – Uma falha em notebooks da Dell coloca as informações pessoais de diversos consumidores em risco.</p>

<p class="text">Explorando uma vulnerabilidade no certificado de segurança SLL chamadoeDellRoot, pré-instalado nos computadores portáteis da marca, hackers podem conseguir espionar os internautas e roubar informações importantes, como senhas bancárias.</p>

<p class="text">Normalmente, tecnologias de criptografia dos computadores armazenam uma chave pública, que serve para consultar um servidor que tem a chave privada de criptografia. No caso dos notebooks da Dell, as duas chaves ficam neles. Ou seja, com acesso aos dados contidos nos aparelhos, é possível fazer com que navegadores como Google Chrome e Microsoft Edge reconheçam uma página falsa como verdadeira.</p>

<p class="text">Roubar esses dados por meio dessa falha, entretanto, não é muito simples. Seria preciso promover um ataque conhecido como man-in-the-middle, quando um hacker intercepta informações de um computador durante sua comunicação com uma rede Wi-Fi. O processo foi apontado pelo programador Joe Nord, em seublog.</p>

<p class="text">Pelo eDellRoot, é possível redirecionar o usuário de um notebook da Dell para um site falso, esteja essa página no próprio aparelho ou em um servidor mantido pelo criminoso, e o internauta entrega, sem querer, as informações para um criminoso virtual. Isso pode acontecer mesmo que o site em questão, como o de um banco, tenha criptografia de tráfego (HTTPS).</p>

<p class="text">A fabricante negou ter usado o eDellRoot para coletar dados de usuários e informou que ele foi feito para enviar uma tag para o serviço de suporte online da Dell.</p>

<p class="text">De acordo com o The Register, a falha de segurança atinge notebooks das linhas XPS 15, Latitude E7450, Inspirion 5548, Inspirion 5000, Inspiron 3647 e Precision M4800.</p>

<p class="text">Para saber se você está vulnerável a essa falha, basta acessar este site. Se a mensagem aparecer com fundo vermelho, sim, você está vulnerável. Caso contrário, não.</p>

<p class="text">A Dell informou que não vai mais pré-instalar o eDellRoot em novos computadores e prometeu uma solução para o problema.</p>

<p class="text">O único navegador que não está sujeito ao tipo de ataque realizado por meio dessa falha da Dell é o Firefox, da Mozilla. O programa utiliza certificados de segurança próprios para oferecer uma navegação segura. Se você utiliza algum dos modelos dos notebooks citado acima, passar a usar o Firefox para consultar seus dados bancários é uma medida de segurança válida.</p>

<p class="text">*Com colaboração de Luiz Cruz</p>
		<p class="text">Fonte:<a href="http://www.crimespelainternet.com.br/falha-em-notebooks-da-dell-poe-usuarios-em-risco/"> Crimes pela internet</a></p>
		</div>
		</div>
		</div>
		
  	 <div id="panel panel-default">
                                        <div class="rodape rec  panel-body">
                                            <div class="container-fluid panel rod">
                                                <footer> <!-- Aqui e a area do footer -->

                                                    <div class="row rod">
                                                        <div id="linksImportantes" class=" col-sm-4">
                                                            <h2>Links Rapidos</h2>
                                                            
                                                                <p><a href="index.xhtml">Home</a></p>
                                                                <p><a href="Diretoria.xhtml">Diretoria</a></p>
                                                                <p><a href="SobreNos.xhtml">Sobre nós</a></p>
                                                                <p><a href="Portifolio.xhtml">Portifólio</a></p>
                                                            
                                                         </div> <!-- Aqui e a area dos links importantes -->
                                                        <div id="linksImportantes" class="col-sm-4">
                                                            <h2>Postagens</h2>
                                                            
                                                                <p><a href="Noticias.xhtml">Noticias</a></p>
                                                                 <p><a href="visualizarEventos.xhtml">Eventos</a></p>

                                     
                                                        </div> <!-- Aqui e a area das redes sociais -->
                                                        <div id="logoFooter" class="col-sm-4">
                                                           <br />
                                                            <p>APECOF-CE-Associação dos Peritos em
                                                                <br/>Computação Forense do Estado do Ceará</p>
                                                            <p>Avenida Santos Dumont, 2810, Fortaleza - CE,<br/> 60150-161, Brasil
                                                            </p>
                                                            <p> (85)00000-0000</p>
                                                        </div> <!-- Aqui e a area da logo do rodape -->
                                                    </div>

                                                </footer>
                                            </div>
                                        </div>
                                    </div>
			</div><!--Div depois do corpo-->	
  	
  		</div><!--Div do Corpo-->
  	</div>
  	
  </h:body>
</html>
