<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      <h:head>
<meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="Css/bootstrap.css" />
   <link rel="stylesheet" type="text/css" href="Css/Noticia.css" />
   <link rel="stylesheet" type="text/css" href="Css/Mobile.css" media="screen and (max-width: 800px)" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="Js/jquery.min.js"></script>
		<script type="text/javascript" src="Js/jquery.cycle.all.js"></script>
	</h:head>	
<h:body>
<div id="panel panel-default "> 
	      <div class="panel-body principal">

		<div id="panel panel-default"> 
	      <div class="panel-body ajuste cor">
	   
<div class="container-fluid barra">
			<form name="rokajaxsearch" class="navbar-form navbar-right" role="search" action="http://www.apecof.org.br/" method="get">
							<div class="rokajaxsearch fp-rokajaxsearch">
								<div class="roksearch-wrapper">
									<input id="roksearch_search_str" name="searchword" type="text" class="form-control" placeholder="Pesquisar" autocomplete="off"/>
								</div>
								<input type="hidden" name="searchphrase" value="any"/>
								<input type="hidden" name="limit" value="20"/>
								<input type="hidden" name="ordering" value="newest"/>
								<input type="hidden" name="view" value="search"/>
								<input type="hidden" name="option" value="com_search"/>								
							</div>
							<div id="rokajaxsearch_tmp" style="visibility:hidden;display:none;"></div>
						</form>
	</div>
</div>

<div id="panel panel-default">
                    <div class="panel-body rec rev cos">
                        <div class="container-fluid les">
                        		  <nav class="navbar navbar-default navbar-left menu les">
                                        <div class="container-fluid">
                                            <!-- Brand and toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle collapsed"
                                                        data-toggle="collapse"
                                                        data-target="#bs-example-navbar-collapse-1"
                                                        aria-expanded="false">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>

                                                </button>
                                                <a class="navbar-brand" href="#"></a>
                                            </div>


                                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                <ul class="nav navbar-nav">
                                                    <li class="active"><a href="index.xhtml">Home <span
                                                            class="sr-only">(current)</span></a></li>
                                                    <li><a href="Diretoria.xhtml">Diretoria</a></li>
                                                    <li><a href="SobreNos.xhtml">Sobre nós</a></li>
                                                    <li><a href="Associados.xhtml">Associados</a></li>
                                                    <li><a href="Portifolio.xhtml">Áreas de atuação</a></li>


                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                           role="button" aria-haspopup="true" aria-expanded="false">Postagens<span
                                                                class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="Noticias.xhtml">Noticias</a></li>
                                                           
                                                            <li><a href="visualizarEventos.xhtml">Eventos</a></li>

                                                        </ul>

                                                    </li>
                                                    <li><a href="FaleConosco.xhtml">Fale conosco</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </nav>
                        
                        </div>
                    </div>
                  </div>      
                <div id="panel panel-default">
                    <div class="panel-body cos espaco">
                        <div class="container-fluid ">
                        
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <img class="img-responsive im" src="imagens/logo.jpg" alt="logo" width="250"
                                         height="250"/>

                                </div>
                                <div class="col-sm-6">
                                  <h2>Missão</h2>
									<p>Nossa Missão
									Disseminar a metodologia científica de investigação de crimes em meio digital (computação forense) e direito eletrônico para profissionais de tecnologia, operadores do direito, vítimas e acusados em todo território nacional.</p>
                                  <p><a class="dir" href="SobreNos.xhtml"><strong>Conheça-nos</strong></a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
  <div id="panel panel-default">
	<div class="rodape rec  panel-body">
	<div class="container-fluid panel rod">
		<h1>Irongate, um novo Stuxnet?</h1>
		
		<p>Em meados do ano passado a empresa FireEye descobriu um código malicioso capaz de manipular sistemas SCADA.</p>
		<img src="imagens/virus.jpg" class="img-responsive ajuste " ></img><br />
 <p class="text">Em meados do ano passado a empresa FireEye descobriu em uma base de dados na web chamada VirusTotal (que é usada como repositório de códigos suspeitos que são enviados por usuários para serem analisados por diversos sistemas antivírus), de propriedade da Google, um código malicioso capaz de manipular Sistemas de Controle de Supervisão e Aquisição de Dados (SCADA – Supervisory Control And Data Acquisition), também chamados de Sistemas Supervisórios, mascarando as informações lidas por sensores dos processos fabris.</p>

<p class="text">Ainda não há registro de ataques do Irongate, mas seu código foi enviado ao VirusTotal por diferentes pessoas entre 2014 e 2015 e durante este período nenhum sistema antivírus conseguiu reconhecer o código como malicioso.</p>

<p class="text">Aparentemente o código foi projetado para encontrar e substituir uma DLL específica que se comunica com o software Siemens SIMATIC S7-PLCSIM, programa que roda em simuladores dos controladores lógicos programáveis (PLC – Programmable Logic Controller) S7-300 e S7-400. PLCs são dispositivos especializados de hardware que monitoram e controlam processos industriais – ligam motores, abrem e fecham válvulas etc. Mesmo parecendo uma prova de conceito e usando uma DLL que não é padrão, a descoberta do Irongate deve servir de alerta às empresas que trabalham com sistemas SCADA.</p>

<p class="text">Se um código malicioso infecta uma rede de TI (Tecnologia da Informação), os problemas irão girar em torno de questões tecnológicas, prejuízos financeiros e de reputação. Já o mesmo código infectando um ambiente de TA (Tecnologia de Automação) poderá acarretar desastres de proporções inimagináveis, podendo causar problemas ambientais ou mesmo a perda de vidas.</p>

<p class="text">A perícia forense nestes ambientes de automação é um imenso desafio também, pois em sua grande maioria os equipamentos precisam funcionar 24×7, tornando complicado a coleta das evidências pelo perito. Os sistemas SCADA também costumam gerar uma grande quantidade de logs. Fora isso, a capacidade de armazenamento dos dispositivos (sensores, controladores etc) é bastante reduzida, além de existirem diversas informações voláteis.</p>
		
		<div class="container-fluid ">
		<div class="container-fluid cont text">
		<p>Autor: MARCUS FÁBIO</p>
Perito em Computação Forense (Judicial e Extrajudicial). Mestre em Informática Aplicada, tendo realizado cursos de extensão no Massachusetts Institute of Technology (MIT) em Cambridge/EUA na área de Cibersegurança. Vice-presidente da APECOF (Associação dos Peritos em Computação Forense do Estado do Ceará), membro ISSA (Information Systems Security Association e coordenador do curso de pós-graduação em Segurança da Informação da Universidade de Fortaleza (UNIFOR). Detentor de certificações internacionais de diversas entidades, tais como: CompTIA, EXIN, Furukawa, LPI e Microsoft.	
<p><a href="https://marcusfabio.wordpress.com/author/marcusfabio/">Ver todos posts por MARCUS FÁBIO</a></p>
		</div>
		</div>
		</div>
		</div>
		</div>
		
  	 <div id="panel panel-default">
                                        <div class="rodape rec  panel-body">
                                            <div class="container-fluid panel rod">
                                                <footer> <!-- Aqui e a area do footer -->

                                                    <div class="row rod">
                                                        <div id="linksImportantes" class=" col-sm-4">
                                                            <h2>Links Rapidos</h2>
                                                            
                                                                <p><a href="index.xhtml">Home</a></p>
                                                                <p><a href="Diretoria.xhtml">Diretoria</a></p>
                                                                <p><a href="SobreNos.xhtml">Sobre nós</a></p>
                                                                <p><a href="Portifolio.xhtml">Portifólio</a></p>
                                                            
                                                         </div> <!-- Aqui e a area dos links importantes -->
                                                        <div id="linksImportantes" class="col-sm-4">
                                                            <h2>Postagens</h2>
                                                            
                                                                <p><a href="Noticias.xhtml">Noticias</a></p>
                                                                 <p><a href="visualizarEventos.xhtml">Eventos</a></p>

                                     
                                                        </div> <!-- Aqui e a area das redes sociais -->
                                                        <div id="logoFooter" class="col-sm-4">
                                                           <br />
                                                            <p>APECOF-CE-Associação dos Peritos em
                                                                <br/>Computação Forense do Estado do Ceará</p>
                                                            <p>Avenida Santos Dumont, 2810, Fortaleza - CE,<br/> 60150-161, Brasil
                                                            </p>
                                                            <p> (85)00000-0000</p>
                                                        </div> <!-- Aqui e a area da logo do rodape -->
                                                    </div>

                                                </footer>
                                            </div>
                                        </div>
                                    </div>
			</div><!--Div depois do corpo-->	
  	
  		</div><!--Div do Corpo-->
  	</div>
  	
  </h:body>
</html>
