<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="Css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="Css/Noticias.css" />
	<link rel="stylesheet" type="text/css" href="Css/Mobile.css" media="screen and (max-width: 800px)" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="jquery.cycle.all.js"></script>
</h:head>		
<h:body>
	<div id="panel panel-default "> 
	    <div class="panel-body principal">

			<div id="panel panel-default"> 
	      		<div class="panel-body ajuste cor">
	   
					<div class="container-fluid barra">
						<form name="rokajaxsearch" class="navbar-form navbar-right" role="search" action="http://www.apecof.org.br/" method="get">
							<div class="rokajaxsearch fp-rokajaxsearch">
								<div class="roksearch-wrapper">
									<input id="roksearch_search_str" name="searchword" type="text" class="form-control" placeholder="Pesquisar" autocomplete="off"/>
								</div>
								<input type="hidden" name="searchphrase" value="any"/>
								<input type="hidden" name="limit" value="20"/>
								<input type="hidden" name="ordering" value="newest"/>
								<input type="hidden" name="view" value="search"/>
								<input type="hidden" name="option" value="com_search"/>								
							</div>
							<div id="rokajaxsearch_tmp" style="visibility:hidden;display:none;"></div>
						</form>
					</div>
				</div>

				<div id="panel panel-default">
                    <div class="panel-body rec rev cos ">
                        <div class="container-fluid les">
                        		  <nav class="navbar navbar-default navbar-left menu les">
                                        <div class="container-fluid">
                                            <!-- Brand and toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle collapsed"
                                                        data-toggle="collapse"
                                                        data-target="#bs-example-navbar-collapse-1"
                                                        aria-expanded="false">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>

                                                </button>
                                                <a class="navbar-brand" href="#"></a>
                                            </div>


                                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                <ul class="nav navbar-nav">
                                                    <li class="active"><a href="index.xhtml">Home <span
                                                            class="sr-only">(current)</span></a></li>
                                                    <li><a href="Diretoria.xhtml">Diretoria</a></li>
                                                    <li><a href="SobreNos.xhtml">Sobre nós</a></li>
                                                    <li><a href="Associados.xhtml">Associados</a></li>
                                                    <li><a href="Portifolio.xhtml">Áreas de atuação</a></li>


                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                           role="button" aria-haspopup="true" aria-expanded="false">Postagens<span
                                                                class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="Noticias.xhtml">Noticias</a></li>
                                                           
                                                            <li><a href="visualizarEventos.xhtml">Eventos</a></li>

                                                        </ul>

                                                    </li>
                                                    <li><a href="FaleConosco.xhtml">Fale conosco</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </nav>
                        
                        </div>
                    </div>
                  </div>      
                <div id="panel panel-default">
                    <div class="panel-body cos espaco">
                        <div class="container-fluid ">
                        
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <img class="img-responsive im" src="imagens/logo.jpg" alt="logo" width="250"
                                         height="250"/>

                                </div> 
                                <div class="col-sm-6">
                                  <h2>Missão</h2>
									<p>Nossa Missão
									Disseminar a metodologia científica de investigação de crimes em meio digital (computação forense) e direito eletrônico para profissionais de tecnologia, operadores do direito, vítimas e acusados em todo território nacional.</p>
                                  <p><a class="dir" href="SobreNos.xhtml"><strong>Conheça-nos</strong></a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



	<div id="panel panel-default"> 
		<div class="noticia panel-body ">
			<div class="container-fluid "> 	
			<img class="img-responsive " src="imagens/not.jpg" alt="verdade" /><br />
			<div class="container-fluid">
				<div class="data"><h3><strong>2016</strong></h3></div>
			</div><br />
       			<div class="row ro">
				 <br /><br /> <div class="col-sm-3">
				  		<img class="img-responsive im" src="imagens/whatsapp.jpg" alt="verdade" width="200px" height="100px"/> 
				  </div>
				  <div class="col-sm-9">
				  		
				  		<p class="noticiario "><a  href="noticia1.xhtml" class="s"><span>22/07</span><strong> - Como o governo teria grampeado terroristas no WhatsApp?</strong></a></p>
				  			<p class="noticiario">A Polícia Federal (PF) deflagrou a operação antiterror "Hashtag" e prendeu 10 pessoas supostamente ligadas ao Estado Islâmico na manhã desta quinta-feira (21). Segundo o ministro da Justiça, Alexandre de Moraes, as investigações teriam envolvido a interceptação de conversas em aplicativos como Telegram e WhatsApp - apesar de o WhatsApp ter sido bloqueado esta semana por não ter condições de auxiliar as autoridades na investigação de crimes.</p>
				 <br /><br /> </div>
				</div>
				<br />
       			<div class="row ro">
				 <br /><br />  <div class="col-sm-3">
				  		<img class="img-responsive im" src="imagens/malware.jpg" alt="verdade" width="200px" height="100px"/> 
				  </div>
				  <div class="col-sm-9">
				  		
				  						<p class="noticiario"><a href="noticia2.xhtml" class="s"><span>22/07</span><strong> - Museu do Malware (Malware Museum)</strong></a></p>
				  			<p class="noticiario">
O Museu do Malware (Malware Museum) foi criado por Mikko Hypponen. O site é uma coleção de programas maliciosos, normalmente vírus, que foram distribuídos entre 1980 e 1990 com o intuito de infectar computadores domésticos. Através do uso de emuladores e, adicionalmente, removendo quaisquer rotinas destrutivas dentro dos vírus, esta coleção permite que você experimente a infecção do vírus de décadas atrás com a segurança. Uma iniciativa muito legal. Acesse o Museu do Malware aqui.</p>
				  <br /><br /> </div>
				</div>
					<br />
       			<div class="row ro">
				   <br /><br /><div class="col-sm-3">
				  		<img class="img-responsive im" src="imagens/dinheiro3.png" alt="verdade" width="200px" height="100px"/> 
				  </div>
				  <div class="col-sm-9">
				  		
				  						<p class="noticiario "><a href="noticia3.xhtml" class="s"><span>21/07</span><strong> - Profissionais certificados pela CompTIA conquistam salários acima da média do mercado</strong></a></p>
				  			<p class="noticiario">A CompTIA é uma associação de comércio sem fins lucrativos que promove os interesses globais dos profissionais e das empresas de TI com grande concentração em certificação e ensino. Ascertificações da CompTIA não são focadas em produtos e sim em conceitos e cenários sobre a área a ser estudada. Recentemente a CompTIA lançou uma pesquisa sobre a valorização salarial do profissional de TI detentor de suas certificações.</p>
				  <br /><br /><br /> </div>
				</div>
					<br />
       			<div class="row ro">
				 <br /><br />  <div class="col-sm-3">
				  		<img class="img-responsive im" src="imagens/icone.jpg" alt="verdade" width="200px" height="100px"/> 
				  </div>
				  <div class="col-sm-9">
				  						<p class="noticiario"><a href="noticia4.xhtml" class="s"><span>19/07 </span><strong>-  WhatsApp: Justiça do RJ manda bloquear aplicativo em todo o Brasil</strong></a></p>
				  			<p class="noticiario">A Justiça do Rio de Janeiro determinou o bloqueio do WhatsApp em todo o Brasil. Uma notificação foi enviada para as empresas de telefonia após o Facebook se recusar a cumprir uma decisão judicial e fornecer informações para uma investigação policial.</p><br /><br />
				<br /><br /> </div>
				 </div>
				<br /><div class="antigas2">
         					<p class="cf"><a  class="cf" href="antiga.xhtml"><strong>Outras postagens</strong></a></p>
         			</div>  
         			<br /><div class="noticia panel-body">
			<div class="container-fluid">
				<br /><div class="data"><h3><strong>2015</strong></h3></div>
			</div>
		</div>
		<div class="row ro">
				   <br /><br /><div class="col-sm-3">
				  		<img class="img-responsive im" src="imagens/marcoss.jpg" alt="verdade" width="200px" height="100px"/> 
				  </div>
				  <div class="col-sm-9">
				  		
				  						<p class="noticiario"><a href="https://www.youtube.com/watch?v=UpDSJ3BSj34" class="s"><span>30/11</span><strong> - Introdução a Pericia Forense Computacional - Sábado com TIC</strong></a></p>
				  			<p class="noticiario">Presidente da Apecof participou de entrevista do Jornal Diario do Nordeste - Tecnologias utilizadas em combate a crimes</p>
				  <br /><br /><br /> </div>
				</div>
				<br />
				<div class="row ro">
				   <br /><br /><div class="col-sm-3">
				  		<img class="img-responsive im" src="imagens/dell.JPG" alt="verdade" width="200px" height="100px"/> 
				  </div>
				  <div class="col-sm-9">
				  		
				  	
				  			<p class="noticiario"><a href="noticia7.xhtml" class="s"><span>25/11</span><strong> - Falha em notebooks da Dell põe usuários em risco</strong></a></p>
				  			<p class="noticiario">Normalmente, tecnologias de criptografia dos computadores armazenam uma chave pública, que serve para consultar um servidor que tem a chave privada de criptografia. No caso dos notebooks da Dell, as duas chaves ficam neles. Ou seja, com acesso aos dados contidos nos aparelhos, é possível fazer com que navegadores como Google Chrome e Microsoft Edge reconheçam uma página falsa como verdadeira.</p>
				  <br /><br /><br /> </div>
				</div>
				<br /><div class="antigas2">
         					<p class="cf"><a  class="cf" href="antigas2.xhtml"><strong>Outras postagens</strong></a></p>
         			</div>  
				</div>
				
					<br />
		</div>
	</div>

	

				 <div id="panel panel-default">
                                        <div class="rodape rec  panel-body">
                                            <div class="container-fluid panel rod">
                                                <footer> <!-- Aqui e a area do footer -->

                                                    <div class="row rod">
                                                        <div id="linksImportantes" class=" col-sm-4">
                                                            <h2>Links Rapidos</h2>
                                                            
                                                                <p><a href="index.xhtml">Home</a></p>
                                                                <p><a href="Diretoria.xhtml">Diretoria</a></p>
                                                                <p><a href="SobreNos.xhtml">Sobre nós</a></p>
                                                                <p><a href="Portifolio.xhtml">Portifólio</a></p>
                                                            
                                                         </div> <!-- Aqui e a area dos links importantes -->
                                                        <div id="linksImportantes" class="col-sm-4">
                                                            <h2>Postagens</h2>
                                                            
                                                                <p><a href="Noticias.xhtml">Noticias</a></p> 
                                                                <p><a href="visualizarEventos.xhtml">Eventos</a></p>

                                     
                                                        </div> <!-- Aqui e a area das redes sociais -->
                                                        <div id="logoFooter" class="col-sm-4">
                                                        <br />
                                                            <p>APECOF-CE-Associação dos Peritos em
                                                                <br/>Computação Forense do Estado do Ceará</p>
                                                            <p>Avenida Santos Dumont, 2810, Fortaleza - CE,<br/> 60150-161, Brasil
                                                            </p>
                                                            <p> (85)00000-0000</p>
                                                        </div> <!-- Aqui e a area da logo do rodape -->
                                                    </div>

                                                </footer>
                                            </div>
                                        </div>
                                    </div>
			</div><!--Div depois do corpo-->	
  	
  		</div><!--Div do Corpo-->
  	</div>
  </h:body>
</html>
