<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      <h:head>
<meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="Css/bootstrap.css" />
   <link rel="stylesheet" type="text/css" href="Css/Noticia.css" />
   <link rel="stylesheet" type="text/css" href="Css/Mobile.css" media="screen and (max-width: 800px)" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="Js/jquery.min.js"></script>
		<script type="text/javascript" src="Js/jquery.cycle.all.js"></script>
	</h:head>	
<h:body>
<div id="panel panel-default "> 
	      <div class="panel-body principal">

		<div id="panel panel-default"> 
	      <div class="panel-body ajuste cor">
	   
<div class="container-fluid barra">
			<form name="rokajaxsearch" class="navbar-form navbar-right" role="search" action="http://www.apecof.org.br/" method="get">
							<div class="rokajaxsearch fp-rokajaxsearch">
								<div class="roksearch-wrapper">
									<input id="roksearch_search_str" name="searchword" type="text" class="form-control" placeholder="Pesquisar" autocomplete="off"/>
								</div>
								<input type="hidden" name="searchphrase" value="any"/>
								<input type="hidden" name="limit" value="20"/>
								<input type="hidden" name="ordering" value="newest"/>
								<input type="hidden" name="view" value="search"/>
								<input type="hidden" name="option" value="com_search"/>								
							</div>
							<div id="rokajaxsearch_tmp" style="visibility:hidden;display:none;"></div>
						</form>
	</div>
</div>

		<div id="panel panel-default">
                    <div class="panel-body rec rev cos">
                        <div class="container-fluid les">
                        		  <nav class="navbar navbar-default navbar-left menu les">
                                        <div class="container-fluid">
                                            <!-- Brand and toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle collapsed"
                                                        data-toggle="collapse"
                                                        data-target="#bs-example-navbar-collapse-1"
                                                        aria-expanded="false">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>

                                                </button>
                                                <a class="navbar-brand" href="#"></a>
                                            </div>


                                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                <ul class="nav navbar-nav">
                                                    <li class="active"><a href="index.xhtml">Home <span
                                                            class="sr-only">(current)</span></a></li>
                                                    <li><a href="Diretoria.xhtml">Diretoria</a></li>
                                                    <li><a href="SobreNos.xhtml">Sobre nós</a></li>
                                                    <li><a href="Associados.xhtml">Associados</a></li>
                                                    <li><a href="Portifolio.xhtml">Áreas de atuação</a></li>


                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                           role="button" aria-haspopup="true" aria-expanded="false">Postagens<span
                                                                class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="Noticias.xhtml">Noticias</a></li>
                                                           
                                                            <li><a href="visualizarEventos.xhtml">Eventos</a></li>

                                                        </ul>

                                                    </li>
                                                    <li><a href="FaleConosco.xhtml">Fale conosco</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </nav>
                        
                        </div>
                    </div>
                  </div>      
                <div id="panel panel-default">
                    <div class="panel-body cos espaco">
                        <div class="container-fluid ">
                        
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <img class="img-responsive im" src="imagens/logo.jpg" alt="logo" width="250"
                                         height="250"/>

                                </div>
                                <div class="col-sm-6">
                                  <h2>Missão</h2>
									<p>Nossa Missão
									Disseminar a metodologia científica de investigação de crimes em meio digital (computação forense) e direito eletrônico para profissionais de tecnologia, operadores do direito, vítimas e acusados em todo território nacional.</p>
                                  <p><a class="dir" href="SobreNos.xhtml"><strong>Conheça-nos</strong></a></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
  <div id="panel panel-default">
	<div class="rodape rec  panel-body">
	<div class="container-fluid panel rod">
		<h2>WhatsApp: Justiça do RJ manda bloquear aplicativo em todo o Brasil</h2>
		<h4 class="centro">Facebook recusou ceder informações para uma investigação policial.
Operadoras de telefonia foram notificadas para suspender acesso ao app.</h4>
 <br />
 <p class="text">Do G1, em São Paulo e no Rio</p>
 
<p class="text">
A Justiça do Rio de Janeiro determinou o bloqueio do WhatsApp em todo o Brasil. Uma notificação foi enviada para as empresas de telefonia após o Facebook se recusar a cumprir uma decisão judicial e fornecer informações para uma investigação policial.</p>
		<p class="text"> Nas redes sociais, usuários já relatam que estão com o WhatsApp bloqueado.</p>

<p class="text">De acordo com Eduardo Levy, presidente do Sindicato das Operadoras de Telefonia (SindiTeleBrasil), o app de mensagens começou a ser tirado do ar a partir das 14h desta terça-feira (19). Ainda de acordo com Levy, o bloqueio completo acontecerá até as 18h.</p>

<p class="text">A decisão tomada pela juíza Daniela Barbosa manda as operadoras suspenderem o acesso imediatamente. Segundo a GloboNews, as provedoras de conexão foram notificadas da decisão por volta das 11h30.</p>

<p class="text">O Facebook informou que não vai se manifestar. Já o WhatsApp informou que já está recorrendo da suspensão e espera que o "bloqueio suspenso assim que possível".</p>

<p class="text">"Nos últimos meses, pessoas de todo o Brasil rejeitaram bloqueios judiciais de serviços como o WhatsApp. Passos indiscriminados como estes ameaçam a capacidade das pessoas para se comunicar, para administrar seus negócios e viver suas vidas. Como já dissemos no passado, não podemos compartilhar informações às quais não temos acesso. Esperamos ver este bloqueio suspenso assim que possível”, afirmou a empresa.</p>

<p class="text">Esta é a quarta vez que um tribunal decide pela suspensão do acesso ao aplicativo no Brasil. Diferentemente das outras decisões, não há um prazo definido para o retorno do serviço assim que ele for bloqueado.</p>
  
<h4 class="text"><strong>JUSTIÇA x WHATSAPP</strong></h4>
<p class="text">Veja casos em que app foi bloqueado<br />

    1º bloqueio: 25/2/15<br />
    2º bloqueio: 16/12/15<br />
    3º bloqueio: 2/5/16<br />
    4º bloqueio: 19/7/16</p><br />

<h4 class="text"> <strong>'Impossibilidades técnicas'</strong></h4>
<p class="text">Segundo Barbosa, o Facebook, empresa proprietária do WhatsApp, foi notificada três vezes para interceptar mensagens que seriam usadas em uma investigação policial em Caxias, na Baixada Fluminense. A juíza acrescentou que a empresa respondeu através de e-mail, com perguntas em inglês, "como se esta fosse a língua oficial deste país" e tratou o Brasil "como uma republiqueta". O WhatsApp informou à Justiça, por meio do Facebook, não poder cumprir a decisão "por impossibilidades técnicas".</p>

<p class="text">Segundo a decisão, o que se pede é "a desabilitação da chave de criptografia, com a interceptação do fluxo de dados, com o desvio em tempo real em uma das formas sugeridas pelo MP, além do encaminhamento das mensagens já recebidas pelo usuário (...) antes de implementada a criptografia."</p>


<p class="text">O bloqueio anterior do Whatsapp foi em maio de 2016. Outro bloqueio aconteceu em dezembro de 2015, quando a Justiça de São Paulo ordenou que as empresas impedissem a conexão por 48 horas em represália ao WhatsApp ter se recusado a colaborar com uma investigação criminal. O aplicativo ficou inacessível por 12 horas e voltou a funcionar por decisão do Tribunal de Justiça de SP.</p>	
	<img class="img-responsive  ajuste" src="imagens/icone.jpg"></img>
	<p >Ícone do Whatsapp, um dos aplicativos de conversa mais populares do mundo, é visto na tela de um smartphone (Foto: Fábio Tito/G1)</p>
	<h4 class="text"><strong>Bloqueio em maio</strong></h4>
<p class="text">A investigação que culminou no bloqueio em maio foi iniciada após uma apreensão de drogas na cidade de Lagarto, a 75 km de Aracaju. O juiz Marcel Montalvão pediu em novembro de 2015 que o Facebook informasse o nome dos usuários de uma conta no WhatsApp em que informações sobre drogas eram trocadas. As informações desse processo corriam em segredo de Justiça.</p>

<p class="text">Segundo o delegado Aldo Amorim, membro da Diretoria de Combate ao Crime Organizado da Polícia Federal em Brasília, a investigação foi iniciada em 2015 e esbarrou na necessidade informações relacionadas às trocas de mensagens via WhatsApp, que foram solicitadas ao Facebook. A empresa não cumpriu a decisão.</p>
	</div>
	
		</div>
		</div>
		
  	 <div id="panel panel-default">
                                        <div class="rodape rec  panel-body">
                                            <div class="container-fluid panel rod">
                                                <footer> <!-- Aqui e a area do footer -->

                                                    <div class="row rod">
                                                        <div id="linksImportantes" class=" col-sm-4">
                                                            <h2>Links Rapidos</h2>
                                                            
                                                                <p><a href="index.xhtml">Home</a></p>
                                                                <p><a href="Diretoria.xhtml">Diretoria</a></p>
                                                                <p><a href="SobreNos.xhtml">Sobre nós</a></p>
                                                                <p><a href="Portifolio.xhtml">Portifólio</a></p>
                                                            
                                                         </div> <!-- Aqui e a area dos links importantes -->
                                                        <div id="linksImportantes" class="col-sm-4">
                                                            <h2>Postagens</h2>
                                                            
                                                                <p><a href="Noticias.xhtml">Noticias</a></p>
                                                                <p><a href="visualizarEventos.xhtml">Eventos</a></p>

                                     
                                                        </div> <!-- Aqui e a area das redes sociais -->
                                                        <div id="logoFooter" class="col-sm-4">
                                                           <br />
                                                            <p>APECOF-CE-Associação dos Peritos em
                                                                <br/>Computação Forense do Estado do Ceará</p>
                                                            <p>Avenida Santos Dumont, 2810, Fortaleza - CE,<br/> 60150-161, Brasil
                                                            </p>
                                                            <p> (85)00000-0000</p>
                                                        </div> <!-- Aqui e a area da logo do rodape -->
                                                    </div>

                                                </footer>
                                            </div>
                                        </div>
                                    </div>
			</div><!--Div depois do corpo-->	
  	
  		</div><!--Div do Corpo-->
  	</div>
  
  </h:body>
</html>
